focus-parent/focus-ws-clients/focus-kva-ws-client/src/main/resources/wsdl/AngehoerigenBeziehungSuchen.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://kva.sozvers.at/definitions/angehoerigenbeziehung/suchen" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				  xmlns:ns1="http://kva.sozvers.at/schema/angehoerigenbeziehung/suchen" name="AngehoerigenbeziehungenSuchenService"
				  targetNamespace="http://kva.sozvers.at/definitions/angehoerigenbeziehung/suchen">
  <wsdl:types>
	<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://kva.sozvers.at/schema/types" elementFormDefault="qualified" targetNamespace="http://kva.sozvers.at/schema/types"
			   version="1.0">
	  <xs:complexType abstract="true" name="standardResponse">
		<xs:sequence>
		  <xs:element minOccurs="0" name="transaktionID" type="xs:string" />
		  <xs:element name="returnCode" type="xs:integer" />
		  <xs:element maxOccurs="unbounded" minOccurs="0" name="meldung" nillable="true" type="tns:meldung" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="meldung">
		<xs:sequence>
		  <xs:element name="text" type="xs:string" />
		  <xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" nillable="true" type="tns:meldungenParameter" />
		</xs:sequence>
		<xs:attribute name="code" type="xs:string" use="required" />
		<xs:attribute name="kategorie" type="xs:string" use="required" />
	  </xs:complexType>
	  <xs:complexType name="meldungenParameter">
		<xs:simpleContent>
		  <xs:extension base="xs:string">
			<xs:attribute name="name" type="xs:string" use="required" />
		  </xs:extension>
		</xs:simpleContent>
	  </xs:complexType>
	</xs:schema>
	<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://kva.sozvers.at/schema/angehoerigenbeziehung/suchen" xmlns:ns1="http://kva.sozvers.at/schema/types"
			   attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://kva.sozvers.at/schema/angehoerigenbeziehung/suchen" version="1.0">
	  <xs:import namespace="http://kva.sozvers.at/schema/types" />
	  <xs:element name="sucheAngehoerige" type="tns:angehoerigenBeziehungErmittelnRequestWrapper" />
	  <xs:element name="sucheAngehoerigeResponse" type="tns:angehoerigenBeziehungErmittelnResponseWrapper" />
	  <xs:element name="sucheVersicherte" type="tns:angehoerigenBeziehungErmittelnRequestWrapper" />
	  <xs:element name="sucheVersicherteResponse" type="tns:angehoerigenBeziehungErmittelnResponseWrapper" />
	  <xs:complexType name="angehoerigenBeziehungErmittelnRequestWrapper">
		<xs:sequence>
		  <xs:element name="angehoerigenBeziehungErmittelnRequest" type="tns:angehoerigenBeziehungErmittelnRequest" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="angehoerigenBeziehungErmittelnRequest">
		<xs:sequence>
		  <xs:element name="vondat" type="xs:dateTime" />
		  <xs:element name="vsnr" type="xs:string" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="angehoerigenBeziehungErmittelnResponseWrapper">
		<xs:sequence>
		  <xs:element minOccurs="0" name="angehoerigenBeziehungErmittelnResponse" type="tns:angehoerigenBeziehungErmittelnResponse" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="angehoerigenBeziehungErmittelnResponse">
		<xs:complexContent>
		  <xs:extension base="ns1:standardResponse">
			<xs:sequence>
			  <xs:element maxOccurs="unbounded" minOccurs="0" name="angehoerigenBeziehungen" nillable="true" type="tns:angehoerigenBeziehungDTO" />
			</xs:sequence>
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="angehoerigenBeziehungDTO">
		<xs:sequence>
		  <xs:element minOccurs="0" name="abzEinschrKz" type="xs:string" />
		  <xs:element minOccurs="0" name="abzStatusKz" type="xs:string" />
		  <xs:element minOccurs="0" name="aendzpkt" type="xs:dateTime" />
		  <xs:element minOccurs="0" name="angTyp" type="xs:string" />
		  <xs:element minOccurs="0" name="angTypBez" type="xs:string" />
		  <xs:element minOccurs="0" name="angTypKurz" type="xs:string" />
		  <xs:element minOccurs="0" name="behoerdenBez3" type="xs:string" />
		  <xs:element minOccurs="0" name="bisdat" type="xs:dateTime" />
		  <xs:element minOccurs="0" name="ersteller" type="xs:string" />
		  <xs:element minOccurs="0" name="erstellzpkt" type="xs:dateTime" />
		  <xs:element minOccurs="0" name="erweiterungsGrund" type="xs:string" />
		  <xs:element minOccurs="0" name="erweiterungsGrundBez" type="xs:string" />
		  <xs:element minOccurs="0" name="erweiterungsGrundKurz" type="xs:string" />
		  <xs:element minOccurs="0" name="famname" type="xs:string" />
		  <xs:element minOccurs="0" name="gebdat" type="xs:date" />
		  <xs:element minOccurs="0" name="gebdatfingiertkz" type="xs:string" />
		  <xs:element minOccurs="0" name="geschlecht" type="xs:string" />
		  <xs:element minOccurs="0" name="interneOrdnBegr" type="xs:string" />
		  <xs:element minOccurs="0" name="letzbearb" type="xs:string" />
		  <xs:element minOccurs="0" name="meldendeStelle" type="xs:string" />
		  <xs:element minOccurs="0" name="todesdat" type="xs:dateTime" />
		  <xs:element minOccurs="0" name="todesdatfingiertkz" type="xs:string" />
		  <xs:element minOccurs="0" name="vondat" type="xs:dateTime" />
		  <xs:element minOccurs="0" name="vorname" type="xs:string" />
		  <xs:element minOccurs="0" name="vsnrAng" type="xs:string" />
		  <xs:element minOccurs="0" name="vsnrStornokz" type="xs:string" />
		  <xs:element minOccurs="0" name="vsnrVers" type="xs:string" />
		  <xs:element minOccurs="0" name="wegfallGrund" type="xs:string" />
		  <xs:element minOccurs="0" name="wegfallGrundBez" type="xs:string" />
		  <xs:element minOccurs="0" name="wegfallGrundKurz" type="xs:string" />
		</xs:sequence>
	  </xs:complexType>
	</xs:schema>
  </wsdl:types>
  <wsdl:message name="sucheVersicherteResponse">
	<wsdl:part element="ns1:sucheVersicherteResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="sucheAngehoerige">
	<wsdl:part element="ns1:sucheAngehoerige" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="sucheVersicherte">
	<wsdl:part element="ns1:sucheVersicherte" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="sucheAngehoerigeResponse">
	<wsdl:part element="ns1:sucheAngehoerigeResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="AngehoerigenbeziehungenSuchen">
	<wsdl:operation name="sucheAngehoerige">
	  <wsdl:input message="tns:sucheAngehoerige" name="sucheAngehoerige"></wsdl:input>
	  <wsdl:output message="tns:sucheAngehoerigeResponse" name="sucheAngehoerigeResponse"></wsdl:output>
	</wsdl:operation>
	<wsdl:operation name="sucheVersicherte">
	  <wsdl:input message="tns:sucheVersicherte" name="sucheVersicherte"></wsdl:input>
	  <wsdl:output message="tns:sucheVersicherteResponse" name="sucheVersicherteResponse"></wsdl:output>
	</wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AngehoerigenbeziehungenSuchenServiceSoapBinding" type="tns:AngehoerigenbeziehungenSuchen">
	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
	<wsdl:operation name="sucheAngehoerige">
	  <soap:operation soapAction="" style="document" />
	  <wsdl:input name="sucheAngehoerige">
		<soap:body use="literal" />
	  </wsdl:input>
	  <wsdl:output name="sucheAngehoerigeResponse">
		<soap:body use="literal" />
	  </wsdl:output>
	</wsdl:operation>
	<wsdl:operation name="sucheVersicherte">
	  <soap:operation soapAction="" style="document" />
	  <wsdl:input name="sucheVersicherte">
		<soap:body use="literal" />
	  </wsdl:input>
	  <wsdl:output name="sucheVersicherteResponse">
		<soap:body use="literal" />
	  </wsdl:output>
	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AngehoerigenbeziehungenSuchenService">
	<wsdl:port binding="tns:AngehoerigenbeziehungenSuchenServiceSoapBinding" name="AngehoerigenBeziehungSuchenPort">
	  <soap:address location="https://kvatest.sozvers.at/KVAWS/abzsuc/2_0/AngehoerigenBeziehungSuchen" />
	</wsdl:port>
  </wsdl:service>
</wsdl:definitions>