focus-parent/focus-ws-clients/focus-kva-ws-client/src/main/resources/wsdl/GebuehrenbefreiungSuchen.wsdl

<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://kva.sozvers.at/definitions/gebuehrenbefreiung/suchen" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				  xmlns:ns1="http://kva.sozvers.at/schema/gebuehrenbefreiung/suchen" name="GebuehrenbefreiungSuchenService"
				  targetNamespace="http://kva.sozvers.at/definitions/gebuehrenbefreiung/suchen">
  <wsdl:types>
	<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://kva.sozvers.at/schema/types" elementFormDefault="qualified" targetNamespace="http://kva.sozvers.at/schema/types"
			   version="1.0">
	  <xs:complexType abstract="true" name="standardResponse">
		<xs:sequence>
		  <xs:element minOccurs="0" name="transaktionID" type="xs:string" />
		  <xs:element name="returnCode" type="xs:integer" />
		  <xs:element maxOccurs="unbounded" minOccurs="0" name="meldung" nillable="true" type="tns:meldung" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="meldung">
		<xs:sequence>
		  <xs:element name="text" type="xs:string" />
		  <xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" nillable="true" type="tns:meldungenParameter" />
		</xs:sequence>
		<xs:attribute name="code" type="xs:string" use="required" />
		<xs:attribute name="kategorie" type="xs:string" use="required" />
	  </xs:complexType>
	  <xs:complexType name="meldungenParameter">
		<xs:simpleContent>
		  <xs:extension base="xs:string">
			<xs:attribute name="name" type="xs:string" use="required" />
		  </xs:extension>
		</xs:simpleContent>
	  </xs:complexType>
	</xs:schema>
	<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://kva.sozvers.at/schema/gebuehrenbefreiung/suchen" xmlns:ns1="http://kva.sozvers.at/schema/types"
			   attributeFormDefault="unqualified" elementFormDefault="qualified" targetNamespace="http://kva.sozvers.at/schema/gebuehrenbefreiung/suchen" version="1.0">
	  <xs:import namespace="http://kva.sozvers.at/schema/types" />
	  <xs:element name="suchen" type="tns:gebuehrenbefreiunRequestWrapper" />
	  <xs:element name="suchenResponse" type="tns:gebuehrenbefreiunnResponseWrapper" />
	  <xs:complexType name="gebuehrenbefreiunRequestWrapper">
		<xs:sequence>
		  <xs:element name="gebuehrenbefreiunRequest" type="tns:gebuehrenbefreiunRequest" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="gebuehrenbefreiunRequest">
		<xs:sequence>
		  <xs:element name="vondat" type="xs:dateTime" />
		  <xs:element name="vsnr" type="xs:string" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="gebuehrenbefreiunnResponseWrapper">
		<xs:sequence>
		  <xs:element minOccurs="0" name="gebuehrenbefreiunResponse" type="tns:gebuehrenbefreiunResponse" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="gebuehrenbefreiunResponse">
		<xs:complexContent>
		  <xs:extension base="ns1:standardResponse">
			<xs:sequence>
			  <xs:element maxOccurs="unbounded" minOccurs="0" name="gebuehrenbefreiungen" nillable="true" type="tns:gebuehrenbefreiungDTO" />
			</xs:sequence>
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="gebuehrenbefreiungDTO">
		<xs:sequence>
		  <xs:element minOccurs="0" name="aendzpkt" type="xs:dateTime" />
		  <xs:element minOccurs="0" name="befreiungsart" type="xs:string" />
		  <xs:element minOccurs="0" name="bisdat" type="xs:dateTime" />
		  <xs:element minOccurs="0" name="erinndat" type="xs:dateTime" />
		  <xs:element minOccurs="0" name="ersteller" type="xs:string" />
		  <xs:element minOccurs="0" name="erstellzpkt" type="xs:dateTime" />
		  <xs:element minOccurs="0" name="gbfGrund" type="xs:string" />
		  <xs:element minOccurs="0" name="gbfGrundbez" type="xs:string" />
		  <xs:element minOccurs="0" name="gbfTyp" type="xs:string" />
		  <xs:element minOccurs="0" name="gbfTypBez" type="xs:string" />
		  <xs:element minOccurs="0" name="gbfZeitenKonnex" type="xs:string" />
		  <xs:element minOccurs="0" name="gbfgrundkurz" type="xs:string" />
		  <xs:element minOccurs="0" name="gbfstatuskz" type="xs:string" />
		  <xs:element minOccurs="0" name="internerordnbegr" type="xs:string" />
		  <xs:element minOccurs="0" name="letztbearb" type="xs:string" />
		  <xs:element minOccurs="0" name="mstmeldjn" type="xs:string" />
		  <xs:element minOccurs="0" name="vondat" type="xs:dateTime" />
		</xs:sequence>
	  </xs:complexType>
	</xs:schema>
  </wsdl:types>
  <wsdl:message name="suchenResponse">
	<wsdl:part element="ns1:suchenResponse" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="suchen">
	<wsdl:part element="ns1:suchen" name="parameters"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="GebuehrenbefreiungSuchen">
	<wsdl:operation name="suchen">
	  <wsdl:input message="tns:suchen" name="suchen"></wsdl:input>
	  <wsdl:output message="tns:suchenResponse" name="suchenResponse"></wsdl:output>
	</wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GebuehrenbefreiungSuchenServiceSoapBinding" type="tns:GebuehrenbefreiungSuchen">
	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
	<wsdl:operation name="suchen">
	  <soap:operation soapAction="" style="document" />
	  <wsdl:input name="suchen">
		<soap:body use="literal" />
	  </wsdl:input>
	  <wsdl:output name="suchenResponse">
		<soap:body use="literal" />
	  </wsdl:output>
	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GebuehrenbefreiungSuchenService">
	<wsdl:port binding="tns:GebuehrenbefreiungSuchenServiceSoapBinding" name="GebuehrenbefreiungSuchenPort">
	  <soap:address location="https://kvatest.sozvers.at/KVAWS/gbfsuc/2_0/GebuehrenbefreiungSuchen" />
	</wsdl:port>
  </wsdl:service>
</wsdl:definitions>