focus-parent/focus-ws-clients/focus-feedback-ws-client/src/main/resources/wsdl/SCKONTFeedbackService_1_0.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://focus.kundenfeedback.sckont.noegkk.sozvers.at/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				  name="SCKONTFeedbackService_1_0Service" targetNamespace="http://focus.kundenfeedback.sckont.noegkk.sozvers.at/">
  <wsdl:types>
	<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://focus.kundenfeedback.sckont.noegkk.sozvers.at/" attributeFormDefault="unqualified" elementFormDefault="unqualified"
			   targetNamespace="http://focus.kundenfeedback.sckont.noegkk.sozvers.at/" version="1.0">
	  <xs:complexType name="kfFeedbackErstellenRequest">
		<xs:complexContent>
		  <xs:extension base="tns:standardRequest">
			<xs:sequence>
			  <xs:element minOccurs="0" name="beschreibung" type="xs:string" />
			  <xs:element minOccurs="0" name="email" type="xs:string" />
			  <xs:element name="fachschluessel" type="xs:string" />
			  <xs:element name="fachschluesselArtKurz" type="xs:string" />
			  <xs:element name="feedbackArt" type="xs:long" />
			  <xs:element name="feedbackgrundId" type="xs:long" />
			  <xs:element name="kontaktartId" type="xs:long" />
			  <xs:element name="letztaend" type="xs:string" />
			  <xs:element name="meldendeStelle" type="xs:long" />
			  <xs:element name="mitarbeiterOe" type="xs:string" />
			  <xs:element name="mitarbeitername" type="xs:string" />
			  <xs:element minOccurs="0" name="name" type="xs:string" />
			  <xs:element minOccurs="0" name="ort" type="xs:string" />
			  <xs:element minOccurs="0" name="plz" type="xs:string" />
			  <xs:element minOccurs="0" name="staatISOA3" type="xs:string" />
			  <xs:element name="status" type="xs:long" />
			  <xs:element minOccurs="0" name="telNr" type="xs:string" />
			  <xs:element name="themaId" type="xs:long" />
			  <xs:element minOccurs="0" name="unterkategorieId" type="xs:long" />
			  <xs:element minOccurs="0" name="verbesserungspotential" type="xs:string" />
			</xs:sequence>
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="standardRequest">
		<xs:sequence>
		  <xs:element name="kontext" type="tns:RqKontext" />
		  <xs:element name="quellSystem" type="tns:quellSystem" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="RqKontext">
		<xs:sequence>
		  <xs:element name="bearbeiter" type="tns:bearbeiter" />
		  <xs:element minOccurs="0" name="bearbeitungsGrund" type="xs:string" />
		  <xs:element name="primaerSystemId" type="xs:string" />
		  <xs:element name="transaktionsId" type="xs:string" />
		  <xs:element name="verarbeitungsModus" type="xs:string" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="bearbeiter">
		<xs:sequence>
		  <xs:element name="bearbeiterId" type="xs:string" />
		  <xs:element name="berechtigungsSystemId" type="xs:string" />
		  <xs:element name="meldendeStelle" type="xs:string" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="quellSystem">
		<xs:sequence>
		  <xs:element name="applikationsId" type="xs:string" />
		  <xs:element name="systemId" type="xs:string" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="kfFeedbackErstellenResponse">
		<xs:complexContent>
		  <xs:extension base="tns:standardResponse">
			<xs:sequence>
			  <xs:element minOccurs="0" name="id" type="xs:long" />
			  <xs:element name="updatecount" type="xs:long" />
			</xs:sequence>
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="standardResponse">
		<xs:sequence>
		  <xs:element name="kontext" type="tns:RsKontext" />
		  <xs:element name="returnInfo" type="tns:returnInfo" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="RsKontext">
		<xs:sequence>
		  <xs:element name="transaktionsId" type="xs:string" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="returnInfo">
		<xs:sequence>
		  <xs:element maxOccurs="unbounded" minOccurs="0" name="meldungen" nillable="true" type="tns:meldung" />
		  <xs:element name="returnCode" type="xs:string" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="meldung">
		<xs:sequence>
		  <xs:element name="id" type="xs:string" />
		  <xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" nillable="true" type="tns:parameter" />
		  <xs:element name="text" type="xs:string" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="parameter">
		<xs:sequence>
		  <xs:element minOccurs="0" name="name" type="xs:string" />
		  <xs:element name="wert" type="xs:string" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="kfUnterkategorienErmittelnRequest">
		<xs:complexContent>
		  <xs:extension base="tns:standardRequest">
			<xs:sequence />
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="kfUnterkategorienErmittelnResponse">
		<xs:complexContent>
		  <xs:extension base="tns:standardResponse">
			<xs:sequence>
			  <xs:element maxOccurs="unbounded" minOccurs="0" name="kfUnterkategorien" nillable="true" type="tns:kfUnterkategorie" />
			</xs:sequence>
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="kfUnterkategorie">
		<xs:sequence>
		  <xs:element minOccurs="0" name="bezeichnung" type="xs:string" />
		  <xs:element name="gueltigBis" type="xs:dateTime" />
		  <xs:element name="gueltigVon" type="xs:dateTime" />
		  <xs:element minOccurs="0" name="id" type="xs:long" />
		  <xs:element minOccurs="0" name="themaId" type="xs:long" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="kfThemaFbgMapsErmittelnRequest">
		<xs:complexContent>
		  <xs:extension base="tns:standardRequest">
			<xs:sequence />
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="kfThemaFbgMapsErmittelnResponse">
		<xs:complexContent>
		  <xs:extension base="tns:standardResponse">
			<xs:sequence>
			  <xs:element maxOccurs="unbounded" minOccurs="0" name="kfThemaFbgMaps" nillable="true" type="tns:kfThemaFbgMap" />
			</xs:sequence>
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="kfThemaFbgMap">
		<xs:sequence>
		  <xs:element name="feedbackgrundId" type="xs:long" />
		  <xs:element name="gueltigBis" type="xs:dateTime" />
		  <xs:element name="gueltigVon" type="xs:dateTime" />
		  <xs:element name="themaId" type="xs:long" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="kfFeedbackLangErmittelnRequest">
		<xs:complexContent>
		  <xs:extension base="tns:standardRequest">
			<xs:sequence>
			  <xs:element name="id" type="xs:long" />
			</xs:sequence>
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="kfFeedbackLangErmittelnResponse">
		<xs:complexContent>
		  <xs:extension base="tns:standardResponse">
			<xs:sequence>
			  <xs:element minOccurs="0" name="kfFeedbackLang" type="tns:kfFeedbackLang" />
			</xs:sequence>
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="kfFeedbackLang">
		<xs:sequence>
		  <xs:element minOccurs="0" name="beschreibung" type="xs:string" />
		  <xs:element minOccurs="0" name="email" type="xs:string" />
		  <xs:element name="erstellTs" type="xs:dateTime" />
		  <xs:element name="fachschluessel" type="xs:string" />
		  <xs:element name="faschluesselArtKurz" type="xs:string" />
		  <xs:element name="feedbackArt" type="xs:long" />
		  <xs:element name="feedbackgrundId" type="xs:long" />
		  <xs:element name="id" type="xs:long" />
		  <xs:element name="kontaktartId" type="xs:long" />
		  <xs:element minOccurs="0" name="name" type="xs:string" />
		  <xs:element minOccurs="0" name="ort" type="xs:string" />
		  <xs:element minOccurs="0" name="plz" type="xs:string" />
		  <xs:element minOccurs="0" name="staatISOA3" type="xs:string" />
		  <xs:element minOccurs="0" name="statusId" type="xs:long" />
		  <xs:element minOccurs="0" name="telNr" type="xs:string" />
		  <xs:element name="themaId" type="xs:long" />
		  <xs:element minOccurs="0" name="unterkategorieId" type="xs:long" />
		  <xs:element minOccurs="0" name="updatecount" type="xs:long" />
		  <xs:element minOccurs="0" name="verbesserungspotential" type="xs:string" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="kfFeedbackgruendeErmittelnRequest">
		<xs:complexContent>
		  <xs:extension base="tns:standardRequest">
			<xs:sequence />
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="kfFeedbackgreundeErmittelnResponse">
		<xs:complexContent>
		  <xs:extension base="tns:standardResponse">
			<xs:sequence>
			  <xs:element maxOccurs="unbounded" minOccurs="0" name="feedbackgruende" nillable="true" type="tns:kfFeedbackgrund" />
			</xs:sequence>
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="kfFeedbackgrund">
		<xs:sequence>
		  <xs:element minOccurs="0" name="bezeichnung" type="xs:string" />
		  <xs:element name="gueltigBis" type="xs:dateTime" />
		  <xs:element name="gueltigVon" type="xs:dateTime" />
		  <xs:element minOccurs="0" name="id" type="xs:long" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="kfFeedbackKurzListeErmittelnRequest">
		<xs:complexContent>
		  <xs:extension base="tns:standardRequest">
			<xs:sequence>
			  <xs:element minOccurs="0" name="ersteller" type="xs:string" />
			  <xs:element minOccurs="0" name="fs" type="xs:string" />
			  <xs:element minOccurs="0" name="fsArtKurz" type="xs:string" />
			</xs:sequence>
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="kfFeedbackKurzListeErmittelnResponse">
		<xs:complexContent>
		  <xs:extension base="tns:standardResponse">
			<xs:sequence>
			  <xs:element maxOccurs="unbounded" minOccurs="0" name="feedbackKurzListe" nillable="true" type="tns:kfFeedbackKurz" />
			</xs:sequence>
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="kfFeedbackKurz">
		<xs:sequence>
		  <xs:element name="erstellTs" type="xs:dateTime" />
		  <xs:element name="feedbackartId" type="xs:long" />
		  <xs:element name="feedbackgrundBezeichnung" type="xs:string" />
		  <xs:element name="id" type="xs:long" />
		  <xs:element name="kontaktartId" type="xs:long" />
		  <xs:element name="statusId" type="xs:long" />
		  <xs:element name="themaBezeichnung" type="xs:string" />
		  <xs:element minOccurs="0" name="unterkategorieBezeichnung" type="xs:string" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="kfThemenErmittelnRequest">
		<xs:complexContent>
		  <xs:extension base="tns:standardRequest">
			<xs:sequence />
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="kfThemenErmittelnResponse">
		<xs:complexContent>
		  <xs:extension base="tns:standardResponse">
			<xs:sequence>
			  <xs:element maxOccurs="unbounded" minOccurs="0" name="kfThemen" nillable="true" type="tns:kfThema" />
			</xs:sequence>
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="kfThema">
		<xs:sequence>
		  <xs:element name="gueltigBis" type="xs:dateTime" />
		  <xs:element name="gueltigVon" type="xs:dateTime" />
		  <xs:element minOccurs="0" name="ktThemaId" type="xs:long" />
		  <xs:element name="themaBezeichnung" type="xs:string" />
		  <xs:element name="themaId" type="xs:long" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="kfUnterkategorieFbgMapsErmittelnRequest">
		<xs:complexContent>
		  <xs:extension base="tns:standardRequest">
			<xs:sequence />
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="kfUnterkategorieFbgMapsErmittelnResponse">
		<xs:complexContent>
		  <xs:extension base="tns:standardResponse">
			<xs:sequence>
			  <xs:element maxOccurs="unbounded" minOccurs="0" name="kfUnterkategorieFbgMaps" nillable="true" type="tns:kfUnterkategorieFbgMap" />
			</xs:sequence>
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="kfUnterkategorieFbgMap">
		<xs:sequence>
		  <xs:element name="feedbackgrundId" type="xs:long" />
		  <xs:element name="gueltigBis" type="xs:dateTime" />
		  <xs:element name="gueltigVon" type="xs:dateTime" />
		  <xs:element name="unterkategorieId" type="xs:long" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="kfFeedbackAendernRequest">
		<xs:complexContent>
		  <xs:extension base="tns:standardRequest">
			<xs:sequence>
			  <xs:element minOccurs="0" name="beschreibung" type="xs:string" />
			  <xs:element minOccurs="0" name="email" type="xs:string" />
			  <xs:element name="feedbackArt" type="xs:long" />
			  <xs:element name="feedbackgrundId" type="xs:long" />
			  <xs:element name="id" type="xs:long" />
			  <xs:element name="kontaktartId" type="xs:long" />
			  <xs:element name="letztaend" type="xs:string" />
			  <xs:element minOccurs="0" name="name" type="xs:string" />
			  <xs:element minOccurs="0" name="ort" type="xs:string" />
			  <xs:element minOccurs="0" name="plz" type="xs:string" />
			  <xs:element minOccurs="0" name="staatISOA3" type="xs:string" />
			  <xs:element name="status" type="xs:long" />
			  <xs:element minOccurs="0" name="telNr" type="xs:string" />
			  <xs:element name="themaId" type="xs:long" />
			  <xs:element minOccurs="0" name="unterkategorieId" type="xs:long" />
			  <xs:element name="updateCount" type="xs:long" />
			  <xs:element minOccurs="0" name="verbesserungspotential" type="xs:string" />
			</xs:sequence>
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="kfFeedbackAendernResponse">
		<xs:complexContent>
		  <xs:extension base="tns:standardResponse">
			<xs:sequence>
			  <xs:element minOccurs="0" name="id" type="xs:long" />
			  <xs:element name="updatecount" type="xs:long" />
			</xs:sequence>
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	  <xs:element name="kfFeedbackErstellen" nillable="true" type="tns:kfFeedbackErstellenRequest" />
	  <xs:element name="kfFeedbackErstellenResponse" nillable="true" type="tns:kfFeedbackErstellenResponse" />
	  <xs:element name="KfUnterkategorienErmitteln" nillable="true" type="tns:kfUnterkategorienErmittelnRequest" />
	  <xs:element name="KfUnterkategorienErmittelnResponse" nillable="true" type="tns:kfUnterkategorienErmittelnResponse" />
	  <xs:element name="kfThemaFbgMapsErmitteln" nillable="true" type="tns:kfThemaFbgMapsErmittelnRequest" />
	  <xs:element name="kfThemaFbgMapsErmittelnResponse" nillable="true" type="tns:kfThemaFbgMapsErmittelnResponse" />
	  <xs:element name="kfFeedbackLangErmitteln" nillable="true" type="tns:kfFeedbackLangErmittelnRequest" />
	  <xs:element name="kfFeedbackLangErmittelnResponse" nillable="true" type="tns:kfFeedbackLangErmittelnResponse" />
	  <xs:element name="kfFeedbackgruendeErmitteln" nillable="true" type="tns:kfFeedbackgruendeErmittelnRequest" />
	  <xs:element name="kfFeedbackgruendeErmittelnResponse" nillable="true" type="tns:kfFeedbackgreundeErmittelnResponse" />
	  <xs:element name="kfFeedbackKurzListeErmitteln" nillable="true" type="tns:kfFeedbackKurzListeErmittelnRequest" />
	  <xs:element name="kfFeedbackKurzListeErmittelnResponse" nillable="true" type="tns:kfFeedbackKurzListeErmittelnResponse" />
	  <xs:element name="kfThemenErmitteln" nillable="true" type="tns:kfThemenErmittelnRequest" />
	  <xs:element name="kfThemenErmittelnResponse" nillable="true" type="tns:kfThemenErmittelnResponse" />
	  <xs:element name="kfUnterkategorieFbgMapsErmitteln" nillable="true" type="tns:kfUnterkategorieFbgMapsErmittelnRequest" />
	  <xs:element name="kfUnterkategorieFbgMapsErmittelnResponse" nillable="true" type="tns:kfUnterkategorieFbgMapsErmittelnResponse" />
	  <xs:element name="kfFeedbackAendern" nillable="true" type="tns:kfFeedbackAendernRequest" />
	  <xs:element name="kfFeedbackAendernResponse" nillable="true" type="tns:kfFeedbackAendernResponse" />
	</xs:schema>
  </wsdl:types>
  <wsdl:message name="kfFeedbackgruendeErmittelnResponse">
	<wsdl:part element="tns:kfFeedbackgruendeErmittelnResponse" name="kfFeedbackgruendeErmittelnResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="kfThemenErmittelnResponse">
	<wsdl:part element="tns:kfThemenErmittelnResponse" name="kfThemenErmittelnResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="kfFeedbackErstellen">
	<wsdl:part element="tns:kfFeedbackErstellen" name="kfFeedbackErstellen"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="kfThemaFbgMapsErmittelnResponse">
	<wsdl:part element="tns:kfThemaFbgMapsErmittelnResponse" name="kfThemaFbgMapsErmittelnResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="KfUnterkategorienErmitteln">
	<wsdl:part element="tns:KfUnterkategorienErmitteln" name="KfUnterkategorienErmitteln"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="kfFeedbackLangErmitteln">
	<wsdl:part element="tns:kfFeedbackLangErmitteln" name="kfFeedbackLangErmitteln"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="kfFeedbackKurzListeErmitteln">
	<wsdl:part element="tns:kfFeedbackKurzListeErmitteln" name="kfFeedbackKurzListeErmitteln"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="kfFeedbackErstellenResponse">
	<wsdl:part element="tns:kfFeedbackErstellenResponse" name="kfFeedbackErstellenResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="kfFeedbackLangErmittelnResponse">
	<wsdl:part element="tns:kfFeedbackLangErmittelnResponse" name="kfFeedbackLangErmittelnResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="kfFeedbackAendern">
	<wsdl:part element="tns:kfFeedbackAendern" name="kfFeedbackAendern"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="kfThemaFbgMapsErmitteln">
	<wsdl:part element="tns:kfThemaFbgMapsErmitteln" name="kfThemaFbgMapsErmitteln"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="kfFeedbackgruendeErmitteln">
	<wsdl:part element="tns:kfFeedbackgruendeErmitteln" name="kfFeedbackgruendeErmitteln"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="KfUnterkategorienErmittelnResponse">
	<wsdl:part element="tns:KfUnterkategorienErmittelnResponse" name="KfUnterkategorienErmittelnResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="kfThemenErmitteln">
	<wsdl:part element="tns:kfThemenErmitteln" name="kfThemenErmitteln"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="kfFeedbackKurzListeErmittelnResponse">
	<wsdl:part element="tns:kfFeedbackKurzListeErmittelnResponse" name="kfFeedbackKurzListeErmittelnResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="kfUnterkategorieFbgMapsErmitteln">
	<wsdl:part element="tns:kfUnterkategorieFbgMapsErmitteln" name="kfUnterkategorieFbgMapsErmitteln"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="kfUnterkategorieFbgMapsErmittelnResponse">
	<wsdl:part element="tns:kfUnterkategorieFbgMapsErmittelnResponse" name="kfUnterkategorieFbgMapsErmittelnResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="kfFeedbackAendernResponse">
	<wsdl:part element="tns:kfFeedbackAendernResponse" name="kfFeedbackAendernResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SCKONTFeedbackService_1_0">
	<wsdl:operation name="kfFeedbackErstellen">
	  <wsdl:input message="tns:kfFeedbackErstellen" name="kfFeedbackErstellen"></wsdl:input>
	  <wsdl:output message="tns:kfFeedbackErstellenResponse" name="kfFeedbackErstellenResponse"></wsdl:output>
	</wsdl:operation>
	<wsdl:operation name="KfUnterkategorienErmitteln">
	  <wsdl:input message="tns:KfUnterkategorienErmitteln" name="KfUnterkategorienErmitteln"></wsdl:input>
	  <wsdl:output message="tns:KfUnterkategorienErmittelnResponse" name="KfUnterkategorienErmittelnResponse"></wsdl:output>
	</wsdl:operation>
	<wsdl:operation name="kfThemaFbgMapsErmitteln">
	  <wsdl:input message="tns:kfThemaFbgMapsErmitteln" name="kfThemaFbgMapsErmitteln"></wsdl:input>
	  <wsdl:output message="tns:kfThemaFbgMapsErmittelnResponse" name="kfThemaFbgMapsErmittelnResponse"></wsdl:output>
	</wsdl:operation>
	<wsdl:operation name="kfFeedbackLangErmitteln">
	  <wsdl:input message="tns:kfFeedbackLangErmitteln" name="kfFeedbackLangErmitteln"></wsdl:input>
	  <wsdl:output message="tns:kfFeedbackLangErmittelnResponse" name="kfFeedbackLangErmittelnResponse"></wsdl:output>
	</wsdl:operation>
	<wsdl:operation name="kfFeedbackgruendeErmitteln">
	  <wsdl:input message="tns:kfFeedbackgruendeErmitteln" name="kfFeedbackgruendeErmitteln"></wsdl:input>
	  <wsdl:output message="tns:kfFeedbackgruendeErmittelnResponse" name="kfFeedbackgruendeErmittelnResponse"></wsdl:output>
	</wsdl:operation>
	<wsdl:operation name="kfFeedbackKurzListeErmitteln">
	  <wsdl:input message="tns:kfFeedbackKurzListeErmitteln" name="kfFeedbackKurzListeErmitteln"></wsdl:input>
	  <wsdl:output message="tns:kfFeedbackKurzListeErmittelnResponse" name="kfFeedbackKurzListeErmittelnResponse"></wsdl:output>
	</wsdl:operation>
	<wsdl:operation name="kfThemenErmitteln">
	  <wsdl:input message="tns:kfThemenErmitteln" name="kfThemenErmitteln"></wsdl:input>
	  <wsdl:output message="tns:kfThemenErmittelnResponse" name="kfThemenErmittelnResponse"></wsdl:output>
	</wsdl:operation>
	<wsdl:operation name="kfUnterkategorieFbgMapsErmitteln">
	  <wsdl:input message="tns:kfUnterkategorieFbgMapsErmitteln" name="kfUnterkategorieFbgMapsErmitteln"></wsdl:input>
	  <wsdl:output message="tns:kfUnterkategorieFbgMapsErmittelnResponse" name="kfUnterkategorieFbgMapsErmittelnResponse"></wsdl:output>
	</wsdl:operation>
	<wsdl:operation name="kfFeedbackAendern">
	  <wsdl:input message="tns:kfFeedbackAendern" name="kfFeedbackAendern"></wsdl:input>
	  <wsdl:output message="tns:kfFeedbackAendernResponse" name="kfFeedbackAendernResponse"></wsdl:output>
	</wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SCKONTFeedbackService_1_0ServiceSoapBinding" type="tns:SCKONTFeedbackService_1_0">
	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
	<wsdl:operation name="kfFeedbackErstellen">
	  <soap:operation soapAction="" style="document" />
	  <wsdl:input name="kfFeedbackErstellen">
		<soap:body use="literal" />
	  </wsdl:input>
	  <wsdl:output name="kfFeedbackErstellenResponse">
		<soap:body use="literal" />
	  </wsdl:output>
	</wsdl:operation>
	<wsdl:operation name="KfUnterkategorienErmitteln">
	  <soap:operation soapAction="" style="document" />
	  <wsdl:input name="KfUnterkategorienErmitteln">
		<soap:body use="literal" />
	  </wsdl:input>
	  <wsdl:output name="KfUnterkategorienErmittelnResponse">
		<soap:body use="literal" />
	  </wsdl:output>
	</wsdl:operation>
	<wsdl:operation name="kfThemaFbgMapsErmitteln">
	  <soap:operation soapAction="" style="document" />
	  <wsdl:input name="kfThemaFbgMapsErmitteln">
		<soap:body use="literal" />
	  </wsdl:input>
	  <wsdl:output name="kfThemaFbgMapsErmittelnResponse">
		<soap:body use="literal" />
	  </wsdl:output>
	</wsdl:operation>
	<wsdl:operation name="kfFeedbackLangErmitteln">
	  <soap:operation soapAction="" style="document" />
	  <wsdl:input name="kfFeedbackLangErmitteln">
		<soap:body use="literal" />
	  </wsdl:input>
	  <wsdl:output name="kfFeedbackLangErmittelnResponse">
		<soap:body use="literal" />
	  </wsdl:output>
	</wsdl:operation>
	<wsdl:operation name="kfFeedbackgruendeErmitteln">
	  <soap:operation soapAction="" style="document" />
	  <wsdl:input name="kfFeedbackgruendeErmitteln">
		<soap:body use="literal" />
	  </wsdl:input>
	  <wsdl:output name="kfFeedbackgruendeErmittelnResponse">
		<soap:body use="literal" />
	  </wsdl:output>
	</wsdl:operation>
	<wsdl:operation name="kfFeedbackKurzListeErmitteln">
	  <soap:operation soapAction="" style="document" />
	  <wsdl:input name="kfFeedbackKurzListeErmitteln">
		<soap:body use="literal" />
	  </wsdl:input>
	  <wsdl:output name="kfFeedbackKurzListeErmittelnResponse">
		<soap:body use="literal" />
	  </wsdl:output>
	</wsdl:operation>
	<wsdl:operation name="kfThemenErmitteln">
	  <soap:operation soapAction="" style="document" />
	  <wsdl:input name="kfThemenErmitteln">
		<soap:body use="literal" />
	  </wsdl:input>
	  <wsdl:output name="kfThemenErmittelnResponse">
		<soap:body use="literal" />
	  </wsdl:output>
	</wsdl:operation>
	<wsdl:operation name="kfUnterkategorieFbgMapsErmitteln">
	  <soap:operation soapAction="" style="document" />
	  <wsdl:input name="kfUnterkategorieFbgMapsErmitteln">
		<soap:body use="literal" />
	  </wsdl:input>
	  <wsdl:output name="kfUnterkategorieFbgMapsErmittelnResponse">
		<soap:body use="literal" />
	  </wsdl:output>
	</wsdl:operation>
	<wsdl:operation name="kfFeedbackAendern">
	  <soap:operation soapAction="" style="document" />
	  <wsdl:input name="kfFeedbackAendern">
		<soap:body use="literal" />
	  </wsdl:input>
	  <wsdl:output name="kfFeedbackAendernResponse">
		<soap:body use="literal" />
	  </wsdl:output>
	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SCKONTFeedbackService_1_0Service">
	<wsdl:port binding="tns:SCKONTFeedbackService_1_0ServiceSoapBinding" name="SCKONTFeedbackService_1_0Port">
	  <soap:address location="http://localhost:8080/servicecenter-extern/SCKONTFeedbackService_1_0" />
	</wsdl:port>
  </wsdl:service>
</wsdl:definitions>