focus-parent/focus-ws-clients/focus-ecm-awf-client/src/main/resources/xsd/awf_geschaeftsfall_v1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

  BEI PROBLEMEN MIT DER KLASSEN-GENERIERUNG:

  rm -rf dokumente/src/generated-* geschaeftsfall/src/generated-*
  (cd dokumente && mvn clean install -Pgenerate-from-schema)
  (cd geschaeftsfall && mvn clean install -Pgenerate-from-schema)

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:doc="http://awf.sozvers.at/schema/dokument" xmlns="http://awf.sozvers.at/schema/geschaeftsfall"
		   targetNamespace="http://awf.sozvers.at/schema/geschaeftsfall" elementFormDefault="qualified">
  <xs:import namespace="http://awf.sozvers.at/schema/dokument" />
  <xs:element name="geschaeftsfallStarten">
	<xs:annotation>
	  <xs:documentation>
		GeschaeftsfallStarten beinhaltet die Informationen um einen Geschäftsfall starten zu können.
	  </xs:documentation>
	</xs:annotation>
	<xs:complexType>
	  <xs:sequence>
		<xs:element name="objekt-klasse" type="xs:string">
		  <xs:annotation>
			<xs:documentation>
			  Der technische Name der Objektklasse des Geschäftsfalles im Format 'ObjectModels.ObjectModel'.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="dateiname" type="xs:string" minOccurs="0">
		  <xs:annotation>
			<xs:documentation>
			  Der Dateiname einer Datei in der AWF TempAblage, das beim Start des Geschäftsfalles als Geschäftsfalldokument im Geschäftsfall abgelegt werden soll.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="metadaten" type="doc:metadatenTyp" minOccurs="0">
		  <xs:annotation>
			<xs:documentation>
			  Die initialen Metadaten des Geschäftsfalles. Der MetadatenTyp wird im awf_dokument.v1.xsd definiert.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
	  </xs:sequence>
	</xs:complexType>
  </xs:element>
  <!-- ergebnis fuer geschaeftsfall lesen -->
  <xs:element name="geschaeftsfall">
	<xs:annotation>
	  <xs:documentation>
		Geschaeftsfall beinhaltet alle Informationen zu einem gelesenen Geschäftsfall.
	  </xs:documentation>
	</xs:annotation>
	<xs:complexType>
	  <xs:sequence>
		<xs:element name="prozessname" type="xs:string">
		  <xs:annotation>
			<xs:documentation>
			  Der Name des Geschäftsfalles (Prozesses) entspricht dem Titel der Geschäftsfalldefinition.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="objektklasse" type="xs:string">
		  <xs:annotation>
			<xs:documentation>
			  Der technische Name der Objektklasse im Format 'ObjectModels.ObjectModel'.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="geschaeftszeichen" type="xs:string">
		  <xs:annotation>
			<xs:documentation>
			  Das Geschäftszeichen des Geschäftsfalles.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="erstelldatum" type="xs:date">
		  <xs:annotation>
			<xs:documentation>
			  Das Datum zu dem der Geschäftsfall gestartet wurde.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="ersteller" type="xs:string">
		  <xs:annotation>
			<xs:documentation>
			  Der Username des Starters des Geschäftsfalles.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="status" type="xs:string">
		  <xs:annotation>
			<xs:documentation>
			  Der Status des Geschäftsfalles. Dieser kann einer der folgenden Werte sein: LAUFEND, ABGEBROCHEN, GELOESCHT, BEENDET
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="kategorie" type="xs:string">
		  <xs:annotation>
			<xs:documentation>
			  Die Kategorie des Geschäftsfalles im Format 'Kurzzeichen (Kurzbezeichnung) - Langbezeichnung'
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="metadaten" type="doc:metadatenTyp" minOccurs="0">
		  <xs:annotation>
			<xs:documentation>
			  Die Metadaten, die auf dem Geschäftsfall gespeichert sind. Der MetadatenTyp wird im awf_dokument.v1.xsd definiert.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
	  </xs:sequence>
	</xs:complexType>
  </xs:element>
  <!--
  Erzeugt den Geschaeftsfall-Folder fuer die Migration

  Dokumente werden in separaten Schritten hinzugefuegt, wenn der Ordner erst einmal angelegt
  ist.
  -->
  <xs:element name="migriereGeschaeftsfallAblage">
	<xs:annotation>
	  <xs:documentation>
		MigriereGeschaeftsfallAblage beinhaltet alle Informationen um einen Geschäftsfall ins AWF zu migrieren.
	  </xs:documentation>
	</xs:annotation>
	<xs:complexType>
	  <xs:sequence>
		<xs:element name="objekt-klasse" type="xs:string">
		  <xs:annotation>
			<xs:documentation>
			  Der technische Name der Objektklasse im Format 'ObjectModels.ObjectModel'.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="geschaeftszeichen" type="xs:string" minOccurs="0">
		  <xs:annotation>
			<xs:documentation>
			  Das Geschäftszeichen des Geschäftsfalles.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="ersteller" type="xs:string" minOccurs="0">
		  <xs:annotation>
			<xs:documentation>
			  Der Username des Starters des Geschäftsfalles.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="erstelltAm" type="xs:date" minOccurs="0">
		  <xs:annotation>
			<xs:documentation>
			  Das Datum zu dem der Geschäftsfall gestartet wurde.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="metadaten" type="doc:metadatenTyp" minOccurs="0">
		  <xs:annotation>
			<xs:documentation>
			  Die Metadaten, die auf dem Geschäftsfall gespeichert werden sollen. Der MetadatenTyp wird im awf_dokument.v1.xsd definiert.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="berechtigungen" type="doc:migBerechtigungTyp" minOccurs="0">
		  <xs:annotation>
			<xs:documentation>
			  Berechtigungen, die am migrierten Geschäftsfall angelegt werden sollen. Der BerechtigungTyp wird im awf_dokument_v1.xsd definiert.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="abgeschlossen" type="xs:boolean">
		  <xs:annotation>
			<xs:documentation>
			  Definiert ob der Geschäftsfall bereits abgeschlossen ist.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
	  </xs:sequence>
	</xs:complexType>
  </xs:element>
  <xs:element name="migGfDokumentErstellen">
	<xs:annotation>
	  <xs:documentation>
		Migration von Geschaeftsfall-Dokumenten. MigGfDokumentErstellen beinhaltet Informationen um ein Geschäftsfalldokument zu erstellen. Analog zu migDokumentErstellen, aber ohne metadaten/dokument
		klasse/erweiterungen ...
	  </xs:documentation>
	</xs:annotation>
	<xs:complexType>
	  <xs:sequence>
		<xs:element name="versionen">
		  <xs:annotation>
			<xs:documentation>
			  Die Informationen zu den Dokumentversionen des migrierten Dokuments.
			</xs:documentation>
		  </xs:annotation>
		  <xs:complexType>
			<xs:sequence>
			  <xs:element name="version" type="doc:migVersion" maxOccurs="unbounded">
				<xs:annotation>
				  <xs:documentation>
					Informationen zu einer Dokumentversion.
				  </xs:documentation>
				</xs:annotation>
			  </xs:element>
			</xs:sequence>
		  </xs:complexType>
		</xs:element>
		<xs:element name="mimetype" type="xs:string">
		  <xs:annotation>
			<xs:documentation>
			  Der Mimetype des Dokuments.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
	  </xs:sequence>
	</xs:complexType>
  </xs:element>
  <xs:element name="aufgaben-suchergebnis">
	<xs:annotation>
	  <xs:documentation>
		Das Suchergebnis der Aufgabensuche beinhaltet die gefundenen Aufgaben.
	  </xs:documentation>
	</xs:annotation>
	<xs:complexType>
	  <xs:sequence>
		<xs:element name="aufgaben" type="gefundeneAufgabenTyp">
		  <xs:annotation>
			<xs:documentation>
			  Die gefundenen Aufgaben.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
	  </xs:sequence>
	</xs:complexType>
  </xs:element>
  <xs:complexType name="gefundeneAufgabenTyp">
	<xs:annotation>
	  <xs:documentation>
		Der GefundeneAufgabenTyp beinhaltet eine Liste an gefundenen Aufgaben.
	  </xs:documentation>
	</xs:annotation>
	<xs:sequence>
	  <xs:element name="aufgabe" type="gefundeneAufgabeTyp" minOccurs="0" maxOccurs="unbounded">
		<xs:annotation>
		  <xs:documentation>
			Liste an gefundenen Aufgaben.
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	</xs:sequence>
  </xs:complexType>
  <xs:complexType name="gefundeneAufgabeTyp">
	<xs:annotation>
	  <xs:documentation>
		GefundeneAufgabeTyp beinhaltet alle Informationen zu einer gefundenen Aufgabe.
	  </xs:documentation>
	</xs:annotation>
	<xs:sequence>
	  <xs:element name="geschaeftsfall-id" type="xs:string">
		<xs:annotation>
		  <xs:documentation>
			Die eindeutige ID des Geschäftsfalles.
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	  <xs:element name="prozessname" type="xs:string">
		<xs:annotation>
		  <xs:documentation>
			Der Name des Geschäftsfalles (Prozesses) entspricht dem Titel der Geschäftsfalldefinition.
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	  <xs:element name="objektklasse" type="xs:string">
		<xs:annotation>
		  <xs:documentation>
			Der technische Name der Objektklasse im Format 'ObjectModels.ObjectModel'.
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	  <xs:element name="geschaeftszeichen" type="xs:string">
		<xs:annotation>
		  <xs:documentation>
			Das Geschäftszeichen des Geschäftsfalles.
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	  <xs:element name="aufgabe-id" type="xs:string">
		<xs:annotation>
		  <xs:documentation>
			Die eindeutige ID der Aufgabe im Format 'GeschaeftsfallId_AufgabeId.
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	  <xs:element name="aufgabe-name" type="xs:string">
		<xs:annotation>
		  <xs:documentation>
			Der Name der Aufgabe (Name des Task im Bpmn-Modell)
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	  <xs:element name="aufgabe-definition-id" type="xs:string">
		<xs:annotation>
		  <xs:documentation>
			Die Aufgabe Definition Id entspricht der id des Task im Bpmn-Modell.
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	  <xs:element name="erstelldatum" type="xs:date">
		<xs:annotation>
		  <xs:documentation>
			Das Erstelldatum der Aufgabe.
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	  <xs:element name="info" type="xs:string">
		<xs:annotation>
		  <xs:documentation>
			Die Fachinfo Topinfo zu der Aufgabe.
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	  <xs:element name="status" type="xs:string">
		<xs:annotation>
		  <xs:documentation>
			Der Status der Aufgabe.
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	</xs:sequence>
  </xs:complexType>
  <xs:element name="aufgabe-bearbeiten">
	<xs:annotation>
	  <xs:documentation>
		AufgabeBearbeiten beinhaltet Informationen um eine bestehende Aufgabe zu bearbeiten.
	  </xs:documentation>
	</xs:annotation>
	<xs:complexType>
	  <xs:sequence>
		<xs:element name="metadaten" type="doc:metadatenTyp" minOccurs="0">
		  <xs:annotation>
			<xs:documentation>
			  Die Metadaten, die auf der Aufgabe geändert werden sollen. Der MetadatenTyp ist im awf_dokument_v1.xsd definiert.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="dokument-id" type="xs:string" minOccurs="0" maxOccurs="unbounded">
		  <xs:annotation>
			<xs:documentation>
			  Eine optionale Dokument-Id, die ein Dokument referenziert, welches in den Geschäftsfall verlinkt werden soll.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="aufgabenausgang" type="xs:string" minOccurs="0">
		  <xs:annotation>
			<xs:documentation>
			  Der Aufgabenausgang der für das Abschließen der Aufgabe gewählt werden soll. Falls keine definierten Outcomes definiert sind, kann die Aufgabe mittels 'DEFAULT' beendet werden.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
	  </xs:sequence>
	</xs:complexType>
  </xs:element>
  <xs:complexType name="aufgabenausgaengeTyp">
	<xs:annotation>
	  <xs:documentation>
		AufgabenausgaengeTyp beinhaltet eine Liste an möglichen Aufgabenausgängen für eine Aufgabe.
	  </xs:documentation>
	</xs:annotation>
	<xs:sequence>
	  <xs:element name="aufgabenausgang" type="xs:string" minOccurs="0" maxOccurs="unbounded">
		<xs:annotation>
		  <xs:documentation>
			Eine Liste an möglichen Aufgabenausgängen.
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	</xs:sequence>
  </xs:complexType>
  <xs:element name="aufgabe">
	<xs:annotation>
	  <xs:documentation>
		Aufgabe beinhaltet alle Informationen zu einer gelesenen Aufgabe.
	  </xs:documentation>
	</xs:annotation>
	<xs:complexType>
	  <xs:complexContent>
		<xs:extension base="gefundeneAufgabeTyp">
		  <xs:sequence>
			<xs:element name="metadaten" type="doc:metadatenTyp" minOccurs="0">
			  <xs:annotation>
				<xs:documentation>
				  Die Metadaten einer Aufgabe. Der AufgabenTyp wird im awf_dokument_v1.xsd definiert.
				</xs:documentation>
			  </xs:annotation>
			</xs:element>
			<xs:element name="aufgabenAusgaenge" type="aufgabenausgaengeTyp">
			  <xs:annotation>
				<xs:documentation>
				  Die definierten Aufgabenausgänge einer Aufgabe.
				</xs:documentation>
			  </xs:annotation>
			</xs:element>
		  </xs:sequence>
		</xs:extension>
	  </xs:complexContent>
	</xs:complexType>
  </xs:element>
  <xs:element name="verlinkteDokumente">
	<xs:annotation>
	  <xs:documentation>
		Verlinkte Dokumente beinhalten Informationen zu den verlinkten Dokumenten eines Geschäftsfalles.
	  </xs:documentation>
	</xs:annotation>
	<xs:complexType>
	  <xs:sequence>
		<xs:element name="dokumente" type="verlinktesDokumentTyp" minOccurs="0" maxOccurs="unbounded">
		  <xs:annotation>
			<xs:documentation>
			  Eine Liste der verlinkten Dokumente.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
	  </xs:sequence>
	</xs:complexType>
  </xs:element>
  <xs:complexType name="verlinktesDokumentTyp">
	<xs:annotation>
	  <xs:documentation>
		VerlinkteDokumenteTyp beinhaltet die Informationen zu einem verlinkten Dokument.
	  </xs:documentation>
	</xs:annotation>
	<xs:sequence>
	  <xs:element name="id" type="xs:string">
		<xs:annotation>
		  <xs:documentation>
			Die eindeutige ID des verlinkten Dokuments.
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	  <xs:element name="dokumentklasse-name" type="xs:string">
		<xs:annotation>
		  <xs:documentation>
			Der lesbare Name der Dokumentklasse. Dieser entspricht dem Titel der Dokumentklasse
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	  <xs:element name="objektklasse" type="xs:string">
		<xs:annotation>
		  <xs:documentation>
			Der technische Name der Objektklasse des Geschäftsfalles im Format 'ObjectModels.ObjectModel'.
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	  <xs:element name="dokumentzeichen" type="xs:string">
		<xs:annotation>
		  <xs:documentation>
			Das Dokumentzeichen des verlinkten Dokuments.
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	  <xs:element name="info" type="xs:string">
		<xs:annotation>
		  <xs:documentation>
			Die Fachinfo Topinfo zu des Dokuments.
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	  <xs:element name="erstelldatum" type="xs:date">
		<xs:annotation>
		  <xs:documentation>
			Das Erstelldatum des Dokuments.
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	</xs:sequence>
  </xs:complexType>
  <xs:element name="geschaeftsfallLinks">
	<xs:annotation>
	  <xs:documentation>
		GeschaeftsfallLinks beinhaltet die Informationen zu allen verlinkten Geschäftsfällen.
	  </xs:documentation>
	</xs:annotation>
	<xs:complexType>
	  <xs:sequence>
		<xs:element name="link" type="geschaeftsfallLinkTyp" minOccurs="0" maxOccurs="unbounded">
		  <xs:annotation>
			<xs:documentation>
			  Eine Liste der Geschäftsfall-Verlinkungen.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
	  </xs:sequence>
	</xs:complexType>
  </xs:element>
  <xs:complexType name="geschaeftsfallLinkTyp">
	<xs:annotation>
	  <xs:documentation>
		GeschaeftsfallLinkTyp beinhaltet die Informationen zu einer Verlinkung zwischen zwei Geschäftsfällen.
	  </xs:documentation>
	</xs:annotation>
	<xs:sequence>
	  <xs:element name="quelle" type="xs:string">
		<xs:annotation>
		  <xs:documentation>
			Die eindeutige ID des Quell-Geschäftsfalles.
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	  <xs:element name="ziel" type="xs:string">
		<xs:annotation>
		  <xs:documentation>
			Die eindeutige ID des Ziel-Geschäftsfalles.
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	  <xs:element name="linkTyp" type="xs:string">
		<xs:annotation>
		  <xs:documentation>
			Der Typ der Verlinkung.
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	  <xs:element name="istQuelle" type="xs:boolean">
		<xs:annotation>
		  <xs:documentation>
			IstQuelle ist true, wenn die ID des aufrufenden Geschäftsfalles der Quell-Geschäftsfall ist.
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	</xs:sequence>
  </xs:complexType>
</xs:schema>
