focus-parent/focus-ws-clients/focus-ecm-awf-client/src/main/resources/xsd/awf_dokument_v1.xsd

<?xml version="1.0" encoding="UTF-8"?><!--

  BEI PROBLEMEN MIT DER KLASSEN-GENERIERUNG:

  rm -rf dokumente/src/generated-* geschaeftsfall/src/generated-*
  (cd dokumente && mvn clean install -Pgenerate-from-schema)
  (cd geschaeftsfall && mvn clean install -Pgenerate-from-schema)

-->
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns="http://awf.sozvers.at/schema/dokument" targetNamespace="http://awf.sozvers.at/schema/dokument" elementFormDefault="qualified">
  <xs:element name="dokument">
	<xs:annotation>
	  <xs:documentation>
		Enthält Informationen und Metadaten zu einem Archivablagedokument.
	  </xs:documentation>
	</xs:annotation>
	<xs:complexType>
	  <xs:sequence>
		<xs:element name="dokument-klasse" type="xs:string">
		  <xs:annotation>
			<xs:documentation>
			  Der technische Name der Dokumentklasse im Format 'ObjectModels.ObjectModel'.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="dokument-erweiterungen" type="dokumentErweiterungenTyp" minOccurs="0">
		  <xs:annotation>
			<xs:documentation>
			  Eine Liste an möglichen Dokumenterweiterungen, die am Dokument angebracht sind.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="id" type="xs:string">
		  <xs:annotation>
			<xs:documentation>
			  Die Id ist eine eindeutige Identifikation des Dokuments und kann in anderen Schnittstellen verwendet werden um das Dokument anzusprechen.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="geschaeftszeichen" type="xs:string">
		  <xs:annotation>
			<xs:documentation>
			  Das Dokumentzeichen (Geschäftszeichen) des Dokuments.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="dateiname" type="xs:string">
		  <xs:annotation>
			<xs:documentation>
			  Der Dateiname des Dokuments.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="mimetype" type="xs:string">
		  <xs:annotation>
			<xs:documentation>
			  Der Mimetype des Dokuments.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="version" type="xs:string">
		  <xs:annotation>
			<xs:documentation>
			  Die aktuelle Versionsnummer des Dokuments.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="erstelltAm" type="xs:dateTime">
		  <xs:annotation>
			<xs:documentation>
			  Das Datum der Dokumenterstellung.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="ersteller" type="xs:string">
		  <xs:annotation>
			<xs:documentation>
			  Der Username des Erstellers des Dokuments.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="metadaten" type="metadatenTyp">
		  <xs:annotation>
			<xs:documentation>
			  Die Metadaten, die auf dem Dokument gespeichert sind.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
	  </xs:sequence>
	</xs:complexType>
  </xs:element>
  <xs:element name="dokumentErstellen">
	<xs:annotation>
	  <xs:documentation>
		DokumentErstellen wird zur Erstellung eines neuen Dokuments verwendet und liefert die notwendigen Informationen. Mit anGeschaeftsfallUebergeben, kann das Dokument gleich in dem angegebenen
		Geschäftsfall verlinkt werden. Mit der nutzID kann eine ID für das Dokument mitgegeben werden, die dann als eindeutige Identifikation für das Dokuments verwendet wird. Wenn bereits ein
		Dokument mit angegebener NutzId vorhanden ist, wird ein Fehler ausgelöst.
	  </xs:documentation>
	</xs:annotation>
	<xs:complexType>
	  <xs:sequence>
		<xs:element name="dokument-klasse" type="xs:string">
		  <xs:annotation>
			<xs:documentation>
			  Der technische Name der Dokumentklasse im Format 'ObjectModels.ObjectModel' definiert welcher Dokumentklasse das Dokument zugeordnet werden soll.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="dokument-erweiterungen" type="dokumentErweiterungenTyp" minOccurs="0">
		  <xs:annotation>
			<xs:documentation>
			  Dokumenterweiterungen, die am Dokument angebracht werden.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="metadaten" type="metadatenTyp">
		  <xs:annotation>
			<xs:documentation>
			  Metadaten, die am Dokument gespeichert werden sollen. Diese müssen für die angegebene Dokumentklassse und Dokumenterweiterungen gültig sein.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="links" type="link" minOccurs="0" maxOccurs="unbounded">
		  <xs:annotation>
			<xs:documentation>
			  Eine Liste an Verlinkungen zu anderen Dokumenten.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="anGeschaeftsfallUebergeben" type="xs:string" minOccurs="0">
		  <xs:annotation>
			<xs:documentation>
			  Eine optionale ID eines Geschäftsfalles. Falls angegeben wird das Dokument in dem Geschäftsfall verlinkt.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="nutzID" type="xs:string" minOccurs="0">
		  <xs:annotation>
			<xs:documentation>
			  Eine optionale NutzID, die als ID des Dokuments verwendet wird. Falls bereits ein Dokument mit dieser nutzID existiert, wird ein Fehler geworfen.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
	  </xs:sequence>
	</xs:complexType>
  </xs:element>
  <xs:element name="dokumentAblegen">
	<xs:annotation>
	  <xs:documentation>
		DokumentAblegen wird zur Erstellung eines neuen Dokuments verwendet und liefert die notwendigen Informationen. In diesem Fall, ist die Datei jedoch bereits in der TempAblage von AWF vorhanden
		und wird über den Pfad referenziert. Mit anGeschaeftsfallUebergeben, kann das Dokument gleich in dem angegebenen Geschäftsfall verlinkt werden. Mit der nutzID kann eine ID für das Dokument
		mitgegeben werden, die dann als eindeutige Identifikation für das Dokuments verwendet wird. Wenn bereits ein Dokument mit angegebener NutzId vorhanden ist, wird ein Fehler ausgelöst.
	  </xs:documentation>
	</xs:annotation>
	<xs:complexType>
	  <xs:sequence>
		<xs:element name="dokument-klasse" type="xs:string">
		  <xs:annotation>
			<xs:documentation>
			  Der technische Name der Dokumentklasse im Format 'ObjectModels.ObjectModel' definiert welcher Dokumentklasse das Dokument zugeordnet werden soll.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="dokument-erweiterungen" type="dokumentErweiterungenTyp" minOccurs="0">
		  <xs:annotation>
			<xs:documentation>
			  Dokumenterweiterungen, die am Dokument angebracht werden.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="pfad" type="xs:string">
		  <xs:annotation>
			<xs:documentation>
			  Der Pfad der Datei in der AWF TempAblage, welche als Archivablagedokument abgelegt werden soll.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="mimetype" type="xs:string">
		  <xs:annotation>
			<xs:documentation>
			  Der Mimetype des Dokuments.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="metadaten" type="metadatenTyp">
		  <xs:annotation>
			<xs:documentation>
			  Metadaten, die am Dokument gespeichert werden sollen. Diese müssen für die angegebene Dokumentklassse und Dokumenterweiterungen gültig sein.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="links" type="link" minOccurs="0" maxOccurs="unbounded">
		  <xs:annotation>
			<xs:documentation>
			  Eine Liste an Verlinkungen zu anderen Dokumenten.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="anGeschaeftsfallUebergeben" type="xs:string" minOccurs="0">
		  <xs:annotation>
			<xs:documentation>
			  Eine optionale ID eines Geschäftsfalles. Falls angegeben wird das Dokument in dem Geschäftsfall verlinkt.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="nutzID" type="xs:string" minOccurs="0">
		  <xs:annotation>
			<xs:documentation>
			  Eine optionale NutzID, die als ID des Dokuments verwendet wird. Falls bereits ein Dokument mit dieser nutzID existiert, wird ein Fehler geworfen.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
	  </xs:sequence>
	</xs:complexType>
  </xs:element>
  <xs:element name="metadatenAendern">
	<xs:annotation>
	  <xs:documentation>
		MetadatenAendern liefert neue Metadaten für ein bestehenden Dokument. Werden Metadaten mit leeren Werten übergeben, so werden diese gelöscht. Metadaten, die am Dokument vorhanden sind und hier
		gar nicht angegeben werden, bleiben unberührt.
	  </xs:documentation>
	</xs:annotation>
	<xs:complexType>
	  <xs:sequence>
		<xs:element name="metadaten" type="metadatenTyp">
		  <xs:annotation>
			<xs:documentation>
			  Metadaten, die am Dokument gespeichert werden sollen. Diese müssen für die angegebene Dokumentklassse und Dokumenterweiterungen gültig sein.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
	  </xs:sequence>
	</xs:complexType>
  </xs:element>
  <xs:element name="aufbewahrungsfristAendern">
	<xs:annotation>
	  <xs:documentation>
		AufbewahrungsfristAendern beinhaltet Information um die Aufbewahrungsfrist auf ein neues Beginndatum zu sezten oder auszusetzen.
	  </xs:documentation>
	</xs:annotation>
	<xs:complexType>
	  <xs:sequence>
		<xs:element name="aufbewahrungsfrist-aussetzen" type="xs:boolean" minOccurs="0">
		  <xs:annotation>
			<xs:documentation>
			  Definiert ob die Aufbewahrungsfrist ausgesetzt werden soll.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="frist-beginndatum" type="xs:date" minOccurs="0">
		  <xs:annotation>
			<xs:documentation>
			  Definiert ein neues Beginn-Datum für die Aufbewahrungsfrist.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
	  </xs:sequence>
	</xs:complexType>
  </xs:element>
  <xs:element name="externeGuiAnfordern">
	<xs:annotation>
	  <xs:documentation>
		ExterneGuiAnfordern beinhaltet die Informationen um einen Link zur Anzeige einer ExternenGUI für den entsprechenden Usecase zu erhalten. Mittels filename kann eine Datei in der Tempablage
		definiert werden, die beim GeschaeftsfallStarten oder DokumentAblegen verwendet wird. Für diese beiden Usecases können auch Metadaten mitgegeben werden.
	  </xs:documentation>
	</xs:annotation>
	<xs:complexType>
	  <xs:sequence>
		<xs:element name="usecase" type="xs:string">
		  <xs:annotation>
			<xs:documentation>
			  Der Usecase für die externeGUI.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="filename" type="xs:string" minOccurs="0">
		  <xs:annotation>
			<xs:documentation>
			  Der Dateiname einer Datei in der Tempablage.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="metadaten" type="metadatenTyp" minOccurs="0">
		  <xs:annotation>
			<xs:documentation>
			  Metadaten, die für das Vorbefüllen der externenGUI mitgegeben werden können.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
	  </xs:sequence>
	</xs:complexType>
  </xs:element>
  <xs:element name="batchDokumentErstellen">
	<xs:annotation>
	  <xs:documentation>
		BatchDokumentErstellen beinhaltet alle Informationen um ein Dokument über den Batch zu erstellen.
	  </xs:documentation>
	</xs:annotation>
	<xs:complexType>
	  <xs:sequence>
		<xs:element name="dokument-klasse" type="xs:string">
		  <xs:annotation>
			<xs:documentation>
			  Der technische Name der Dokumentklasse im Format 'ObjectModels.ObjectModel' definiert welcher Dokumentklasse das Dokument zugeordnet werden soll.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="dokument-erweiterungen" type="dokumentErweiterungenTyp" minOccurs="0">
		  <xs:annotation>
			<xs:documentation>
			  Dokumenterweiterungen, die am Dokument angebracht werden.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="dateiname" type="xs:string">
		  <xs:annotation>
			<xs:documentation>
			  Der Dateiname des Dokuments.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="mimetype" type="xs:string">
		  <xs:annotation>
			<xs:documentation>
			  Der Mimetype des Dokuments.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="metadaten" type="metadatenTyp">
		  <xs:annotation>
			<xs:documentation>
			  Metadaten, die am Dokument gespeichert werden sollen. Diese müssen für die angegebene Dokumentklassse und Dokumenterweiterungen gültig sein.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="aufbewahrungsfristAussetzen" type="xs:boolean" minOccurs="0">
		  <xs:annotation>
			<xs:documentation>
			  Mit AufbewahrungsfristAussetzen kann gesteuert werden, ob die Aufbewahrungsfrist sofort beim Erstellen des Dokuments ausgesetzt werden soll.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
	  </xs:sequence>
	</xs:complexType>
  </xs:element>
  <xs:element name="migDokumentErstellen">
	<xs:annotation>
	  <xs:documentation>
		MigDokumentErstellen beinhaltet alle Informationen um ein Dokument über den Batch zu migrieren.
	  </xs:documentation>
	</xs:annotation>
	<xs:complexType>
	  <xs:sequence>
		<xs:element name="dokument-klasse" type="xs:string">
		  <xs:annotation>
			<xs:documentation>
			  Der technische Name der Dokumentklasse im Format 'ObjectModels.ObjectModel' definiert welcher Dokumentklasse das Dokument zugeordnet werden soll.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="dokument-erweiterungen" type="dokumentErweiterungenTyp" minOccurs="0">
		  <xs:annotation>
			<xs:documentation>
			  Dokumenterweiterungen, die am Dokument angebracht werden.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="versionen">
		  <xs:annotation>
			<xs:documentation>
			  Die Informationen zu den Dokumentversionen des migrierten Dokuments.
			</xs:documentation>
		  </xs:annotation>
		  <xs:complexType>
			<xs:sequence>
			  <xs:element name="version" type="migVersion" maxOccurs="unbounded">
				<xs:annotation>
				  <xs:documentation>
					Informationen zu einer Dokumentversion.
				  </xs:documentation>
				</xs:annotation>
			  </xs:element>
			</xs:sequence>
		  </xs:complexType>
		</xs:element>
		<xs:element name="mimetype" type="xs:string">
		  <xs:annotation>
			<xs:documentation>
			  Der Mimetype des Dokuments.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="externeID" type="xs:string">
		  <xs:annotation>
			<xs:documentation>
			  Die ID, die als externeID des Dokuments verwendet werden soll.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="notiz" type="migNotiz" minOccurs="0" maxOccurs="unbounded">
		  <xs:annotation>
			<xs:documentation>
			  Notzien, die am Dokument angebracht werden sollen.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="metadaten" type="metadatenTyp">
		  <xs:annotation>
			<xs:documentation>
			  Metadaten, die am Dokument gespeichert werden sollen. Diese müssen für die angegebene Dokumentklassse und Dokumenterweiterungen gültig sein.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="berechtigungen" type="migBerechtigungTyp" minOccurs="0">
		  <xs:annotation>
			<xs:documentation>
			  Berechtigungen, die am migrierten Dokument angelegt werden sollen.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
		<xs:element name="anGeschaeftsfallUebergeben" type="xs:string" minOccurs="0">
		  <xs:annotation>
			<xs:documentation>
			  Eine optionale ID eines Geschäftsfalles. Falls angegeben wird das Dokument in dem Geschäftsfall verlinkt.
			</xs:documentation>
		  </xs:annotation>
		</xs:element>
	  </xs:sequence>
	</xs:complexType>
  </xs:element>
  <xs:complexType name="migVersion">
	<xs:annotation>
	  <xs:documentation>
		MigVersion beinhaltet die Informationen über eine Dokumentversion eines migrierten Dokuments.
	  </xs:documentation>
	</xs:annotation>
	<xs:sequence>
	  <xs:element name="datei" type="migDateiInfo" minOccurs="1" maxOccurs="unbounded">
		<xs:annotation>
		  <xs:documentation>
			Die Datei - Informationen der Version.
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	  <xs:element name="erstelltAm" type="xs:dateTime">
		<xs:annotation>
		  <xs:documentation>
			Das Datum der Erstellung der Version.
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	  <xs:element name="aktuelleVersion" type="xs:boolean" minOccurs="0" default="false">
		<xs:annotation>
		  <xs:documentation>
			Eine optionale ID eines Geschäftsfalles. Falls angegeben wird das Dokument in dem Geschäftsfall verlinkt.
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	</xs:sequence>
  </xs:complexType>
  <xs:complexType name="migDateiInfo">
	<xs:annotation>
	  <xs:documentation>
		MigDateiInfo beinhaltet die Informationen Datei einer Version eines migrierten Dokuments.
	  </xs:documentation>
	</xs:annotation>
	<xs:sequence>
	  <xs:element name="name" type="xs:string">
		<xs:annotation>
		  <xs:documentation>
			Der Name der Datei.
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	  <xs:element name="md5" type="xs:string" minOccurs="0">
		<xs:annotation>
		  <xs:documentation>
			Ein MD5 Hash der Datei zur Kontrolle der korrekten Übertragung.
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	  <xs:element name="extension" type="xs:string" minOccurs="0">
		<xs:annotation>
		  <xs:documentation>
			optionale extension, die dem filenamen angehaengt werden muss. notwendig, weil bei geschaeftsablagen-dokumenten die input files ohne extension geliefert werden.
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	</xs:sequence>
  </xs:complexType>
  <xs:complexType name="migNotiz">
	<xs:annotation>
	  <xs:documentation>
		MigNotiz beinhaltet die Informationen einer Notiz zu einem migrierten Dokument.
	  </xs:documentation>
	</xs:annotation>
	<xs:sequence>
	  <xs:element name="text" type="xs:string">
		<xs:annotation>
		  <xs:documentation>
			Der Text der Notiz.
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	  <xs:element name="datum" type="xs:dateTime" minOccurs="0">
		<xs:annotation>
		  <xs:documentation>
			Das Datum der Erstellung der Notiz.
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	  <xs:element name="ersteller" type="xs:string">
		<xs:annotation>
		  <xs:documentation>
			Der Ersteller der Notiz.
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	</xs:sequence>
  </xs:complexType>
  <xs:complexType name="dokumentErweiterungenTyp">
	<xs:annotation>
	  <xs:documentation>
		DokumentErweiterungenTyp kapselt eine Liste an Dokumenterweiterungen eines Dokuments.
	  </xs:documentation>
	</xs:annotation>
	<xs:sequence>
	  <xs:element name="dokument-erweiterung" type="xs:string" minOccurs="0" maxOccurs="unbounded">
		<xs:annotation>
		  <xs:documentation>
			Der technische Name einer Dokumenterweiterung im Format 'ObjectModels.ObjectModel'.
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	</xs:sequence>
  </xs:complexType>
  <!-- Dieser Typ wird auch in awf_geschaeftsfall_v1.xsd verwendet.-->
  <xs:complexType name="metadatenTyp">
	<xs:annotation>
	  <xs:documentation>
		Der MetadatenTyp beinhaltet eine Liste an Metadatenfeldern, die entweder normale (mehrfache) Felder oder komplexe (mehrfache) Felder sein können.
	  </xs:documentation>
	</xs:annotation>
	<xs:sequence>
	  <xs:element name="feld" minOccurs="0" maxOccurs="unbounded">
		<xs:annotation>
		  <xs:documentation>
			Eine Liste an Metadatenfeldern.
		  </xs:documentation>
		</xs:annotation>
		<xs:complexType>
		  <xs:annotation>
			<xs:documentation>
			  Ein Metadatenfeld bestehend aus dem Namen und entweder einem Wert, einem Komplexen-Wert oder einem mehrfachen Wert / Komplexen-Wert.
			</xs:documentation>
		  </xs:annotation>
		  <xs:sequence>
			<xs:element name="name" type="xs:string">
			  <xs:annotation>
				<xs:documentation>
				  Der Name eines Metadatenfeldes im Format 'MetadataModel.MetadataField' oder 'MetadataModel.MetadataSet_MetadataField'.
				</xs:documentation>
			  </xs:annotation>
			</xs:element>
			<!--

			Sauberer waere es, zwischen werten (Mehrzahl!) und
			KomplexenWerten (Mehrzahl!) zu unterscheiden, aber
			beim Parsen des Json vom Server kann man bei einem
			leeren Array nicht unterscheiden: ist das jetzt eine
			leere List von Komplexen Werten, oder eine leere Liste
			von Werten.

			Daher: wert, komplexerWert oder mehrfach(wert|komplexerWert)

			-->
			<xs:choice>
			  <xs:element name="wert" type="xs:string">
				<xs:annotation>
				  <xs:documentation>
					Der Wert eines Metadatenfeldes.
				  </xs:documentation>
				</xs:annotation>
			  </xs:element>
			  <xs:element name="komplexerWert" type="komplexerTyp">
				<xs:annotation>
				  <xs:documentation>
					Ein komplexer Wert eines Metadatenfeldes. Diese beinhaltet weitere Metadatenfelder.
				  </xs:documentation>
				</xs:annotation>
			  </xs:element>
			  <xs:element name="mehrfach">
				<xs:annotation>
				  <xs:documentation>
					Das Metadatenfeld hat eine Liste an Werten oder Komplexen-Werten, die in Mehrfach gekapselt sind.
				  </xs:documentation>
				</xs:annotation>
				<xs:complexType>
				  <xs:annotation>
					<xs:documentation>
					  Mehrfach beinhaltet eine Liste an Werten oder eine Liste an Komplexen-Werten.
					</xs:documentation>
				  </xs:annotation>
				  <xs:choice>
					<xs:sequence>
					  <xs:element name="wert" type="xs:string" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
						  <xs:documentation>
							Der Wert des Metadatenfeldes.
						  </xs:documentation>
						</xs:annotation>
					  </xs:element>
					</xs:sequence>
					<xs:sequence>
					  <xs:element name="komplexerWert" type="komplexerTyp" minOccurs="0" maxOccurs="unbounded">
						<xs:annotation>
						  <xs:documentation>
							Ein komplexer Wert eines Metadatenfeldes. Diese beinhaltet weitere Metadatenfelder.
						  </xs:documentation>
						</xs:annotation>
					  </xs:element>
					</xs:sequence>
				  </xs:choice>
				</xs:complexType>
			  </xs:element>
			</xs:choice>
		  </xs:sequence>
		</xs:complexType>
	  </xs:element>
	</xs:sequence>
  </xs:complexType>
  <xs:complexType name="komplexerTyp">
	<xs:annotation>
	  <xs:documentation>
		Ein KomplexerTyp besteht aus einer Rolle und mehreren Metadatenfeldern.
	  </xs:documentation>
	</xs:annotation>
	<xs:sequence>
	  <xs:element name="rolle" type="xs:string">
		<xs:annotation>
		  <xs:documentation>
			Die Rolle hat entweder das Format 'MetadatenFeldName-X' wobei X eine Laufnummer beginnend bei 0 ist, oder die Rolle ist in der Form-Konfiguration mit definierten Namen angegeben.
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	  <xs:element name="feld" minOccurs="1" maxOccurs="unbounded">
		<xs:annotation>
		  <xs:documentation>
			Eine Liste an Metadatenfeldern des Komplexen-Werts
		  </xs:documentation>
		</xs:annotation>
		<xs:complexType>
		  <xs:annotation>
			<xs:documentation>
			  Ein Feld eines Komplexen Typs besteht aus einem Namen und seinem Wert.
			</xs:documentation>
		  </xs:annotation>
		  <xs:sequence>
			<xs:element name="name" type="xs:string">
			  <xs:annotation>
				<xs:documentation>
				  Der Name des Feldes des Komplexen-Werts im Format 'MetadataModel.MetadataField.KomplexMetadataField' oder 'MetadataModel.MetadataSet_MetadataField.KomplexMetadataField'.
				</xs:documentation>
			  </xs:annotation>
			</xs:element>
			<xs:element name="wert" type="xs:string">
			  <xs:annotation>
				<xs:documentation>
				  Der Wert des Feldes des Komplexen-Werts.
				</xs:documentation>
			  </xs:annotation>
			</xs:element>
		  </xs:sequence>
		</xs:complexType>
	  </xs:element>
	</xs:sequence>
  </xs:complexType>
  <xs:complexType name="link">
	<xs:annotation>
	  <xs:documentation>
		Ein Link besteht aus dem referenzierten Dokument, dem LinkTyp und der Richtung der Verlinkung.
	  </xs:documentation>
	</xs:annotation>
	<xs:sequence>
	  <xs:element name="referenziertesDokument" type="xs:string">
		<xs:annotation>
		  <xs:documentation>
			Die eindeutige ID des referenzierten Dokuments.
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	  <xs:element name="linkTyp" type="linkTyp">
		<xs:annotation>
		  <xs:documentation>
			Der Typ der Verlinkung.
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	  <xs:element name="linkUmdrehen" type="xs:boolean" minOccurs="0" default="false">
		<xs:annotation>
		  <xs:documentation>
			LinkUmdrehen definiert die Richtung der Verlinkung. Wenn linkUmdrehen false ist, oder nicht angegeben, dann ist das gerade neu angelegte Dokument das Quelldokument und das referenzierte
			Dokument das Zieldokument der Verlinkung. Wenn linkUmdrehen true ist, dann ist das gerade neu angelegte Dokument das Zieldokument und das referenzierte Dokument das Quelldokument der
			Verlinkung.
		  </xs:documentation>
		</xs:annotation>
	  </xs:element>
	</xs:sequence>
  </xs:complexType>
  <xs:simpleType name="linkTyp">
	<xs:annotation>
	  <xs:documentation>
		Ein LinkTyp definiert die Art einer Verlinkung von Dokumenten.
	  </xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
	  <xs:enumeration value="referenziert" />
	  <xs:enumeration value="siehe" />
	  <xs:enumeration value="hatBeilage" />
	</xs:restriction>
  </xs:simpleType>
  <xs:simpleType name="migRolleTyp">
	<xs:annotation>
	  <xs:documentation>
		Rollen aus ObjektRolle fuer den jeweiligen Kontext (Archivdokumente, GF Ablage/GF) Das Stylesheet kann die selben Listen liefern, je nach Kontext wird das dann zu ArchivDokument: o Bearbeiter
		wird zu DOKUMENT_SACHBEARBEITER o Leser wird zu DOKUMENT_SACHBEARBEITER_LESEND Abgeschlossener Geschaeftsfall: o Bearbeiter wird zu GESCHAEFTSFALL_ABLAGE_BEARBEITER o Leser wird zu
		GESCHAEFTSFALL_ABLAGE_LESER Wenn auch Activit-Objekte mitspielen (Migration nicht abgeschlossener GF) muessen auch die GESCHAEFTSFALL_BEARBEITER und GESCHAEFTSFALL_LESER vergeben werden.
	  </xs:documentation>
	</xs:annotation>
	<xs:restriction base="xs:string">
	  <xs:enumeration value="BEARBEITER" />
	  <xs:enumeration value="LESER" />
	</xs:restriction>
  </xs:simpleType>
  <xs:complexType name="migBerechtigungTyp">
	<xs:annotation>
	  <xs:documentation>
		MigBerechtigungTyp definiert eine oder mehrere Berechtigungen mit Inhaber (Users) und mit einer bestimmten Berechtigungsrolle.
	  </xs:documentation>
	</xs:annotation>
	<xs:sequence>
	  <xs:element name="berechtigung" minOccurs="0" maxOccurs="unbounded">
		<xs:annotation>
		  <xs:documentation>
			Eine Liste an Berechtigungen.
		  </xs:documentation>
		</xs:annotation>
		<xs:complexType>
		  <xs:annotation>
			<xs:documentation>
			  Die Berechtigung enthält einen Inhaber (Users) und eine bestimmten Berechtigungsrolle.
			</xs:documentation>
		  </xs:annotation>
		  <xs:sequence>
			<xs:element name="inhaber" type="xs:string">
			  <xs:annotation>
				<xs:documentation>
				  Der Inhaber (Username), der die Berechtigung erhält.
				</xs:documentation>
			  </xs:annotation>
			</xs:element>
			<xs:element name="rolle" type="migRolleTyp">
			  <xs:annotation>
				<xs:documentation>
				  Die zu vergebende Berechtigungsrolle.
				</xs:documentation>
			  </xs:annotation>
			</xs:element>
		  </xs:sequence>
		</xs:complexType>
	  </xs:element>
	</xs:sequence>
  </xs:complexType>
</xs:schema>
