focus-parent/focus-ws-clients/focus-scapp-ws-client/src/main/resources/wsdl/Scappws.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://focus.beschwerde.sckont.noegkk.sozvers.at/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/"
				  name="SCKONTBeschwerdeService_1_0Service" targetNamespace="http://focus.beschwerde.sckont.noegkk.sozvers.at/">
  <wsdl:types>
	<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://focus.beschwerde.sckont.noegkk.sozvers.at/" attributeFormDefault="unqualified" elementFormDefault="unqualified"
			   targetNamespace="http://focus.beschwerde.sckont.noegkk.sozvers.at/">
	  <xs:complexType name="beschwerdenErmittelnRequest">
		<xs:complexContent>
		  <xs:extension base="tns:standardRequest">
			<xs:sequence>
			  <xs:element name="fachschluessel" type="xs:string" />
			  <xs:element name="fachschluesselArt" type="xs:string" />
			  <xs:element minOccurs="0" name="stichtagDat" type="xs:date" />
			</xs:sequence>
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="standardRequest">
		<xs:sequence>
		  <xs:element name="kontext" type="tns:RqKontext" />
		  <xs:element name="quellSystem" type="tns:quellSystem" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="RqKontext">
		<xs:sequence>
		  <xs:element name="bearbeiter" type="tns:bearbeiter" />
		  <xs:element minOccurs="0" name="bearbeitungsGrund" type="xs:string" />
		  <xs:element name="primaerSystemId" type="xs:string" />
		  <xs:element name="transaktionsId" type="xs:string" />
		  <xs:element name="verarbeitungsModus" type="xs:string" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="bearbeiter">
		<xs:sequence>
		  <xs:element name="bearbeiterId" type="xs:string" />
		  <xs:element name="berechtigungsSystemId" type="xs:string" />
		  <xs:element name="meldendeStelle" type="xs:string" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="quellSystem">
		<xs:sequence>
		  <xs:element name="applikationsId" type="xs:string" />
		  <xs:element name="systemId" type="xs:string" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="beschwerdenErmittelnResponse">
		<xs:complexContent>
		  <xs:extension base="tns:standardResponse">
			<xs:sequence>
			  <xs:element maxOccurs="unbounded" minOccurs="0" name="beschwerden" nillable="true" type="tns:beschwerdeKurz" />
			</xs:sequence>
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="standardResponse">
		<xs:sequence>
		  <xs:element name="kontext" type="tns:RsKontext" />
		  <xs:element name="returnInfo" type="tns:returnInfo" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="beschwerdeKurz">
		<xs:sequence>
		  <xs:element name="beschwerdeId" type="xs:long" />
		  <xs:element name="fachbereichBez" type="xs:string" />
		  <xs:element name="kanalBez" type="xs:string" />
		  <xs:element name="kontaktpunktBez" type="xs:string" />
		  <xs:element name="statusId" type="xs:long" />
		  <xs:element name="storno" type="xs:boolean" />
		  <xs:element name="themaBez" type="xs:string" />
		  <xs:element name="zeitpunkt" type="xs:dateTime" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="RsKontext">
		<xs:sequence>
		  <xs:element name="transaktionsId" type="xs:string" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="returnInfo">
		<xs:sequence>
		  <xs:element maxOccurs="unbounded" minOccurs="0" name="meldungen" nillable="true" type="tns:meldung" />
		  <xs:element name="returnCode" type="xs:string" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="meldung">
		<xs:sequence>
		  <xs:element name="id" type="xs:string" />
		  <xs:element maxOccurs="unbounded" minOccurs="0" name="parameter" nillable="true" type="tns:parameter" />
		  <xs:element name="text" type="xs:string" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="parameter">
		<xs:sequence>
		  <xs:element minOccurs="0" name="name" type="xs:string" />
		  <xs:element name="wert" type="xs:string" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="beschwerdeLesenRequest">
		<xs:complexContent>
		  <xs:extension base="tns:standardRequest">
			<xs:sequence>
			  <xs:element name="id" type="xs:long" />
			</xs:sequence>
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="beschwerdeLesenResponse">
		<xs:complexContent>
		  <xs:extension base="tns:standardResponse">
			<xs:sequence>
			  <xs:element minOccurs="0" name="beschwerde" type="tns:beschwerde" />
			</xs:sequence>
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="beschwerde">
		<xs:sequence>
		  <xs:element minOccurs="0" name="beschreibung" type="xs:string" />
		  <xs:element maxOccurs="unbounded" name="beschwerdegruende" type="xs:long" />
		  <xs:element minOccurs="0" name="beschwerdegrundAnmerkung" type="xs:string" />
		  <xs:element minOccurs="0" name="email" type="xs:string" />
		  <xs:element name="fachbereichDetailId" type="xs:long" />
		  <xs:element name="kanalId" type="xs:long" />
		  <xs:element name="kontaktpunktId" type="xs:long" />
		  <xs:element minOccurs="0" name="massnahmen" type="xs:string" />
		  <xs:element minOccurs="0" name="meldendeStelleId" type="xs:long" />
		  <xs:element name="mitarbeitername" type="xs:string" />
		  <xs:element name="statusId" type="xs:int" />
		  <xs:element minOccurs="0" name="storno" type="xs:boolean" />
		  <xs:element minOccurs="0" name="telefon" type="xs:string" />
		  <xs:element name="updatecount" type="xs:long" />
		  <xs:element name="zeitpunkt" type="xs:dateTime" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="beschwerdeAendernRequest">
		<xs:complexContent>
		  <xs:extension base="tns:standardRequest">
			<xs:sequence>
			  <xs:element minOccurs="0" name="beschreibung" type="xs:string" />
			  <xs:element maxOccurs="unbounded" name="beschwerdegruende" type="xs:long" />
			  <xs:element minOccurs="0" name="beschwerdegrundAnmerkung" type="xs:string" />
			  <xs:element minOccurs="0" name="email" type="xs:string" />
			  <xs:element name="fachbereichDetailId" type="xs:long" />
			  <xs:element name="fachschluessel" type="xs:string" />
			  <xs:element name="fachschluesselArt" type="xs:string" />
			  <xs:element name="id" type="xs:long" />
			  <xs:element name="kanalId" type="xs:long" />
			  <xs:element name="kontaktpunktId" type="xs:long" />
			  <xs:element minOccurs="0" name="massnahmen" type="xs:string" />
			  <xs:element minOccurs="0" name="meldendeStelleId" type="xs:long" />
			  <xs:element name="mitarbeiterkennung" type="xs:string" />
			  <xs:element name="mitarbeitername" type="xs:string" />
			  <xs:element name="statusId" type="xs:int" />
			  <xs:element minOccurs="0" name="telefon" type="xs:string" />
			  <xs:element name="updatecount" type="xs:long" />
			  <xs:element name="zeitpunkt" type="xs:dateTime" />
			</xs:sequence>
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="beschwerdeAendernResponse">
		<xs:complexContent>
		  <xs:extension base="tns:standardResponse">
			<xs:sequence>
			  <xs:element minOccurs="0" name="id" type="xs:long" />
			  <xs:element name="updatecount" type="xs:long" />
			</xs:sequence>
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="beschwerdegrundErmittelnRequest">
		<xs:complexContent>
		  <xs:extension base="tns:standardRequest">
			<xs:sequence>
			  <xs:element minOccurs="0" name="bereOrg" type="xs:string" />
			  <xs:element minOccurs="0" name="orgeinheit" type="xs:long" />
			  <xs:element name="stichtagDat" type="xs:date" />
			</xs:sequence>
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="beschwerdegrundErmittelnResponse">
		<xs:complexContent>
		  <xs:extension base="tns:standardResponse">
			<xs:sequence>
			  <xs:element maxOccurs="unbounded" minOccurs="0" name="beschwerdegruende" nillable="true" type="tns:beschwerdegrund" />
			</xs:sequence>
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="beschwerdegrund">
		<xs:sequence>
		  <xs:element name="bezeichnung" type="xs:string" />
		  <xs:element minOccurs="0" name="hilfetext" type="xs:string" />
		  <xs:element name="id" type="xs:long" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:complexType name="beschwerdeErstellenRequest">
		<xs:complexContent>
		  <xs:extension base="tns:standardRequest">
			<xs:sequence>
			  <xs:element minOccurs="0" name="beschreibung" type="xs:string" />
			  <xs:element maxOccurs="unbounded" name="beschwerdegruende" type="xs:long" />
			  <xs:element minOccurs="0" name="beschwerdegrundAnmerkung" type="xs:string" />
			  <xs:element minOccurs="0" name="email" type="xs:string" />
			  <xs:element name="fachbereichDetailId" type="xs:long" />
			  <xs:element name="fachschluessel" type="xs:string" />
			  <xs:element name="fachschluesselArt" type="xs:string" />
			  <xs:element name="kanalId" type="xs:long" />
			  <xs:element minOccurs="0" name="kontaktpunktBereOrg" type="xs:string" />
			  <xs:element minOccurs="0" name="kontaktpunktId" type="xs:long" />
			  <xs:element minOccurs="0" name="massnahmen" type="xs:string" />
			  <xs:element minOccurs="0" name="meldendeStelleId" type="xs:long" />
			  <xs:element name="mitarbeiterkennung" type="xs:string" />
			  <xs:element name="mitarbeitername" type="xs:string" />
			  <xs:element minOccurs="0" name="name" type="xs:string" />
			  <xs:element minOccurs="0" name="ort" type="xs:string" />
			  <xs:element minOccurs="0" name="postleitzahl" type="xs:string" />
			  <xs:element minOccurs="0" name="staatIsoA3" type="xs:string" />
			  <xs:element name="statusId" type="xs:int" />
			  <xs:element minOccurs="0" name="telefon" type="xs:string" />
			  <xs:element name="zeitpunkt" type="xs:dateTime" />
			</xs:sequence>
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="beschwerdeErstellenResponse">
		<xs:complexContent>
		  <xs:extension base="tns:standardResponse">
			<xs:sequence>
			  <xs:element minOccurs="0" name="id" type="xs:long" />
			</xs:sequence>
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="beschwerdeStornierenRequest">
		<xs:complexContent>
		  <xs:extension base="tns:standardRequest">
			<xs:sequence>
			  <xs:element name="id" type="xs:long" />
			  <xs:element name="updatecount" type="xs:long" />
			</xs:sequence>
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="beschwerdeStornierenResponse">
		<xs:complexContent>
		  <xs:extension base="tns:standardResponse">
			<xs:sequence />
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="beschwerdebereichErmittelnRequest">
		<xs:complexContent>
		  <xs:extension base="tns:standardRequest">
			<xs:sequence>
			  <xs:element name="abfrageDat" type="xs:date" />
			  <xs:element minOccurs="0" name="bereOrg" type="xs:string" />
			  <xs:element minOccurs="0" name="orgeinheit" type="xs:long" />
			</xs:sequence>
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="beschwerdebereichErmittelnResponse">
		<xs:complexContent>
		  <xs:extension base="tns:standardResponse">
			<xs:sequence>
			  <xs:element maxOccurs="unbounded" minOccurs="0" name="beschwerdebereich" nillable="true" type="tns:beschwerdebereich" />
			</xs:sequence>
		  </xs:extension>
		</xs:complexContent>
	  </xs:complexType>
	  <xs:complexType name="beschwerdebereich">
		<xs:sequence>
		  <xs:element name="beschwerdebereichId" type="xs:long" />
		  <xs:element name="fachbereichBezeichnung" type="xs:string" />
		  <xs:element name="fachbereichDetailBezeichnung" type="xs:string" />
		  <xs:element minOccurs="0" name="fachbereichDetailHilfetext" type="xs:string" />
		  <xs:element minOccurs="0" name="fachbereichHilfetext" type="xs:string" />
		  <xs:element name="fachbereichId" type="xs:long" />
		  <xs:element name="themaBezeichnung" type="xs:string" />
		  <xs:element minOccurs="0" name="themaHilfetext" type="xs:string" />
		  <xs:element name="themaId" type="xs:long" />
		</xs:sequence>
	  </xs:complexType>
	  <xs:element name="beschwerdenErmitteln" nillable="true" type="tns:beschwerdenErmittelnRequest" />
	  <xs:element name="beschwerdenErmittelnResponse" nillable="true" type="tns:beschwerdenErmittelnResponse" />
	  <xs:element name="beschwerdeLesen" nillable="true" type="tns:beschwerdeLesenRequest" />
	  <xs:element name="beschwerdeLesenResponse" nillable="true" type="tns:beschwerdeLesenResponse" />
	  <xs:element name="beschwerdeAendern" nillable="true" type="tns:beschwerdeAendernRequest" />
	  <xs:element name="beschwerdeAendernResponse" nillable="true" type="tns:beschwerdeAendernResponse" />
	  <xs:element name="beschwerdegrundErmitteln" nillable="true" type="tns:beschwerdegrundErmittelnRequest" />
	  <xs:element name="beschwerdegrundErmittelnResponse" nillable="true" type="tns:beschwerdegrundErmittelnResponse" />
	  <xs:element name="beschwerdeErstellen" nillable="true" type="tns:beschwerdeErstellenRequest" />
	  <xs:element name="beschwerdeErstellenResponse" nillable="true" type="tns:beschwerdeErstellenResponse" />
	  <xs:element name="beschwerdeStornieren" nillable="true" type="tns:beschwerdeStornierenRequest" />
	  <xs:element name="beschwerdeStornierenResponse" nillable="true" type="tns:beschwerdeStornierenResponse" />
	  <xs:element name="beschwerdebereichErmitteln" nillable="true" type="tns:beschwerdebereichErmittelnRequest" />
	  <xs:element name="beschwerdebereichErmittelnResponse" nillable="true" type="tns:beschwerdebereichErmittelnResponse" />
	</xs:schema>
  </wsdl:types>
  <wsdl:message name="beschwerdegrundErmittelnResponse">
	<wsdl:part element="tns:beschwerdegrundErmittelnResponse" name="beschwerdegrundErmittelnResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="beschwerdenErmitteln">
	<wsdl:part element="tns:beschwerdenErmitteln" name="beschwerdenErmitteln"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="beschwerdebereichErmittelnResponse">
	<wsdl:part element="tns:beschwerdebereichErmittelnResponse" name="beschwerdebereichErmittelnResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="beschwerdeLesenResponse">
	<wsdl:part element="tns:beschwerdeLesenResponse" name="beschwerdeLesenResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="beschwerdeAendern">
	<wsdl:part element="tns:beschwerdeAendern" name="beschwerdeAendern"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="beschwerdegrundErmitteln">
	<wsdl:part element="tns:beschwerdegrundErmitteln" name="beschwerdegrundErmitteln"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="beschwerdeErstellen">
	<wsdl:part element="tns:beschwerdeErstellen" name="beschwerdeErstellen"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="beschwerdeStornieren">
	<wsdl:part element="tns:beschwerdeStornieren" name="beschwerdeStornieren"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="beschwerdebereichErmitteln">
	<wsdl:part element="tns:beschwerdebereichErmitteln" name="beschwerdebereichErmitteln"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="beschwerdenErmittelnResponse">
	<wsdl:part element="tns:beschwerdenErmittelnResponse" name="beschwerdenErmittelnResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="beschwerdeAendernResponse">
	<wsdl:part element="tns:beschwerdeAendernResponse" name="beschwerdeAendernResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="beschwerdeLesen">
	<wsdl:part element="tns:beschwerdeLesen" name="beschwerdeLesen"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="beschwerdeErstellenResponse">
	<wsdl:part element="tns:beschwerdeErstellenResponse" name="beschwerdeErstellenResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:message name="beschwerdeStornierenResponse">
	<wsdl:part element="tns:beschwerdeStornierenResponse" name="beschwerdeStornierenResponse"></wsdl:part>
  </wsdl:message>
  <wsdl:portType name="SCKONTBeschwerdeService_1_0">
	<wsdl:operation name="beschwerdenErmitteln">
	  <wsdl:input message="tns:beschwerdenErmitteln" name="beschwerdenErmitteln"></wsdl:input>
	  <wsdl:output message="tns:beschwerdenErmittelnResponse" name="beschwerdenErmittelnResponse"></wsdl:output>
	</wsdl:operation>
	<wsdl:operation name="beschwerdeLesen">
	  <wsdl:input message="tns:beschwerdeLesen" name="beschwerdeLesen"></wsdl:input>
	  <wsdl:output message="tns:beschwerdeLesenResponse" name="beschwerdeLesenResponse"></wsdl:output>
	</wsdl:operation>
	<wsdl:operation name="beschwerdeAendern">
	  <wsdl:input message="tns:beschwerdeAendern" name="beschwerdeAendern"></wsdl:input>
	  <wsdl:output message="tns:beschwerdeAendernResponse" name="beschwerdeAendernResponse"></wsdl:output>
	</wsdl:operation>
	<wsdl:operation name="beschwerdegrundErmitteln">
	  <wsdl:input message="tns:beschwerdegrundErmitteln" name="beschwerdegrundErmitteln"></wsdl:input>
	  <wsdl:output message="tns:beschwerdegrundErmittelnResponse" name="beschwerdegrundErmittelnResponse"></wsdl:output>
	</wsdl:operation>
	<wsdl:operation name="beschwerdeErstellen">
	  <wsdl:input message="tns:beschwerdeErstellen" name="beschwerdeErstellen"></wsdl:input>
	  <wsdl:output message="tns:beschwerdeErstellenResponse" name="beschwerdeErstellenResponse"></wsdl:output>
	</wsdl:operation>
	<wsdl:operation name="beschwerdeStornieren">
	  <wsdl:input message="tns:beschwerdeStornieren" name="beschwerdeStornieren"></wsdl:input>
	  <wsdl:output message="tns:beschwerdeStornierenResponse" name="beschwerdeStornierenResponse"></wsdl:output>
	</wsdl:operation>
	<wsdl:operation name="beschwerdebereichErmitteln">
	  <wsdl:input message="tns:beschwerdebereichErmitteln" name="beschwerdebereichErmitteln"></wsdl:input>
	  <wsdl:output message="tns:beschwerdebereichErmittelnResponse" name="beschwerdebereichErmittelnResponse"></wsdl:output>
	</wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SCKONTBeschwerdeService_1_0ServiceSoapBinding" type="tns:SCKONTBeschwerdeService_1_0">
	<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http" />
	<wsdl:operation name="beschwerdenErmitteln">
	  <soap:operation soapAction="" style="document" />
	  <wsdl:input name="beschwerdenErmitteln">
		<soap:body use="literal" />
	  </wsdl:input>
	  <wsdl:output name="beschwerdenErmittelnResponse">
		<soap:body use="literal" />
	  </wsdl:output>
	</wsdl:operation>
	<wsdl:operation name="beschwerdeLesen">
	  <soap:operation soapAction="" style="document" />
	  <wsdl:input name="beschwerdeLesen">
		<soap:body use="literal" />
	  </wsdl:input>
	  <wsdl:output name="beschwerdeLesenResponse">
		<soap:body use="literal" />
	  </wsdl:output>
	</wsdl:operation>
	<wsdl:operation name="beschwerdeAendern">
	  <soap:operation soapAction="" style="document" />
	  <wsdl:input name="beschwerdeAendern">
		<soap:body use="literal" />
	  </wsdl:input>
	  <wsdl:output name="beschwerdeAendernResponse">
		<soap:body use="literal" />
	  </wsdl:output>
	</wsdl:operation>
	<wsdl:operation name="beschwerdegrundErmitteln">
	  <soap:operation soapAction="" style="document" />
	  <wsdl:input name="beschwerdegrundErmitteln">
		<soap:body use="literal" />
	  </wsdl:input>
	  <wsdl:output name="beschwerdegrundErmittelnResponse">
		<soap:body use="literal" />
	  </wsdl:output>
	</wsdl:operation>
	<wsdl:operation name="beschwerdeErstellen">
	  <soap:operation soapAction="" style="document" />
	  <wsdl:input name="beschwerdeErstellen">
		<soap:body use="literal" />
	  </wsdl:input>
	  <wsdl:output name="beschwerdeErstellenResponse">
		<soap:body use="literal" />
	  </wsdl:output>
	</wsdl:operation>
	<wsdl:operation name="beschwerdeStornieren">
	  <soap:operation soapAction="" style="document" />
	  <wsdl:input name="beschwerdeStornieren">
		<soap:body use="literal" />
	  </wsdl:input>
	  <wsdl:output name="beschwerdeStornierenResponse">
		<soap:body use="literal" />
	  </wsdl:output>
	</wsdl:operation>
	<wsdl:operation name="beschwerdebereichErmitteln">
	  <soap:operation soapAction="" style="document" />
	  <wsdl:input name="beschwerdebereichErmitteln">
		<soap:body use="literal" />
	  </wsdl:input>
	  <wsdl:output name="beschwerdebereichErmittelnResponse">
		<soap:body use="literal" />
	  </wsdl:output>
	</wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SCKONTBeschwerdeService_1_0Service">
	<wsdl:port binding="tns:SCKONTBeschwerdeService_1_0ServiceSoapBinding" name="SCKONTBeschwerdeService_1_0Port">
	  <soap:address location="http://entwintranet-backend.sozvers.at/servicecenter-extern/SCKONTBeschwerdeService_1_0" />
	</wsdl:port>
  </wsdl:service>
</wsdl:definitions>
